---
// props
export interface Props {
	element?: string;
	classes?: string;
}
const { element = "gallery", classes } = Astro.props;
---

<div class:list={[element, classes]}>
	<slot />
</div>

<style>
	:global(img) {
		@apply cursor-pointer;
	}
</style>
