---
interface Props {
    classes?: string;
}
const { classes } = Astro.props;
---

<div class:list={["relative overflow-hidden", classes]}>
    <div class="transition group-hover:opacity-100 opacity-0 absolute w-full h-full bg-gradient-to-br from-transparent via-transparent to-neutral-300/50 z-10"></div>
    <span aria-hidden="true" class="text-white text-2xl absolute bottom-5 right-5 opacity-0 group-hover:opacity-100 transition z-10">&rarr;</span>

    <slot />
</div>
