---
import { Image } from "@astrojs/image/components";

// functions
import { getImage } from "@/functions/Media";

// props
export interface Props {
    src: string;
    classes?: string;
    gallery?: string;
}
const { src, classes, gallery } = Astro.props as Props;

const lightbox = await getImage(src);
---

<a href={lightbox.src} class:list={[classes]}>
    <Image src={lightbox.src} width={500} height={500} class={classes} alt={lightbox.alt} />
</a>
