---
const { post } = Astro.props;
---

<article class="py-12">
    <div class="group relative max-w-xl">
        <time datetime="2020-03-16" class="block text-sm leading-6 text-gray-500">Mar 10, 2020</time>
        <h2 class="mt-2 text-xl font-semibold text-gray-300 group-hover:text-white">
            <a href="#">
                <span class="absolute inset-0"></span>
                Full Leaf Springs vs. HD vs. Add a Packs
            </a>
        </h2>
        <p class="mt-4 text-md leading-7 text-gray-400">One thing we have noticed is that there are some serious misunderstandings about the differences of the rear spring options and how to pick the right leaf spring for the intention you have for your truck.</p>
    </div>
</article>
