---
interface Props {
    post: object;
}
const { post } = Astro.props;
---

<article>
    <div class="group relative max-w-xl space-y-4">
        <time datetime="2020-03-16" class="text-sm leading-6 text-stone-500">Mar 10, 2020</time>
        <h5>
            <a href="#">
                <span class="absolute inset-0"></span>
                Full Leaf Springs vs. HD vs. Add a Packs
            </a>
        </h5>

        <p class="leading-7 text-stone-400">One thing we have noticed is that there are some serious misunderstandings about the differences of the rear spring options and how to pick the right leaf spring for the intention you have for your truck.</p>
    </div>
</article>
