---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Link from "@/components/buttons/Link";

// functions
import { getAllImages } from "@/functions/Media";
import { getMakes } from "@/functions/Vehicles";

export async function getStaticPaths() {
    const makes = await getMakes();

    return makes.map((m) => ({
        params: { make: m.slug },
        props: m,
    }));
}

const { make } = Astro.params;
const { slug, title } = Astro.props;

const allImages = await getAllImages();
const filteredImages = allImages.filter((image) => image.includes(slug));
---

<Layout>
    <Container classes="my-16 md:my-24 space-y-8">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-2 md:gap-8">
            <h1 class="text-black">{title} Gallery</h1>
            <Link href="/gallery" text="Back to the Gallery" />
        </div>

        <Gallery
            images={filteredImages}
            galleryClasses="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4"
            imageClasses="rounded-sm shadow-lg w-full object-cover h-[200px]"
            sizes="(min-width:640px) 50vw, (min-width:768px) 25vw, 100vw"
        />
    </Container>
</Layout>
