---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Photo from "@/components/images/Photo";
import Link from "@/components/buttons/Link";

// content
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const allVehicleMakes = await getCollection("vehicles");

    return allVehicleMakes.map((entry) => ({
        params: { make: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const allMakeImages = await getCollection("images", ({ slug }) => {
    return slug.includes(entry.slug);
});
---

<Layout title={`${entry.data.title} Builds`} description={`THOR Off-Road is the top off-road parts and installation outfitter in Texas. View some of our previous ${entry.data.title} builds.`}>
    <Container classes="my-16 md:my-24 space-y-8">
        <div class="flex flex-col gap-2 md:flex-row md:items-center md:justify-between md:gap-8">
            <h1 class="text-black">{entry.data.title} Gallery</h1>
            <Link href="/gallery" text="Back to the Gallery" />
        </div>

        <Gallery element="gallery">
            {allMakeImages.map((i) => <Photo src={i.slug} class="h-full w-full rounded-sm object-cover shadow-lg" sizes="(min-width:640px) 50vw, (min-width:768px) 25vw, 100vw" />)}
        </Gallery>
    </Container>
</Layout>
