---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";

// functions
import { getAllImages } from "@/functions/Media";
import { getMakes, getModels } from "@/functions/Vehicles";

export async function getStaticPaths() {
    const makes = await getMakes();

    return makes.map((m) => ({
        params: { make: m.slug },
        props: m,
    }));
}

const { make } = Astro.params;
const { slug, title } = Astro.props;

const allImages = await getAllImages();
const filteredImages = allImages.filter((image) => image.includes(slug));
---

<Layout>
    <Container classes="my-24 space-y-8">
        <h1 class="text-black">{title} Gallery</h1>
        <div>
            <Gallery
                images={filteredImages}
                galleryClasses="grid grid-cols-4 gap-3"
                imageClasses="rounded-sm shadow-lg hover:scale-[103%] transition duration-200"
            />
        </div>
    </Container>
</Layout>
