---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Photo from "@/components/images/Photo";

// content
import { getCollection } from "astro:content";

const allVehicleMakes = await getCollection("vehicles");
const gallery = [
    "vehicles/ford/bronco/2112-2021-ford-bronco-badlands-oxford-white/2021-ford-bronco-oxford-white_001",
    "vehicles/ford/bronco/2112-2021-ford-bronco-badlands-oxford-white/2021-ford-bronco-oxford-white_015",
    "vehicles/ford/bronco/2204-2021-ford-bronco-outer-banks-black/2021-ford-bronco-black_003",
    "vehicles/ford/bronco/2206-2021-ford-bronco-wild-track-antimatter-blue/2021-ford-bronco-antimatter-blue_014",
    "vehicles/ford/bronco/2206-2021-ford-bronco-wild-track-antimatter-blue/2021-ford-bronco-antimatter-blue_020",
    "vehicles/ford/f-150/2109-2021-ford-f-150-xlt-silver/2021-ford-f-150-silver_005",
    "vehicles/ford/f-250/2110-2021-ford-f-250-lariat-black/2021-ford-f-250-black_006",
    "vehicles/ford/f-250/2110-2021-ford-f-250-lariat-lithium-grey/2021-ford-f-250-lithium-grey_005",
    "vehicles/ford/f-250/2110-2021-ford-f-250-lariat-lithium-grey/2021-ford-f-250-lithium-grey_003",
    "vehicles/ford/f-250/2110-2021-ford-f-250-lariat-lithium-grey/2021-ford-f-250-lithium-grey_001",
    "vehicles/ford/f-250/2110-2021-ford-f-250-lariat-lithium-grey/2021-ford-f-250-lithium-grey_007",
    "vehicles/ford/f-250/2203-1997-ford-f-250-red/1997-ford-f-250-red_001",
    "vehicles/ford/f-250/2206-2022-ford-f-250-stone-grey/2022-ford-f-250-stone-grey_006",
    "vehicles/ford/f-350/2110-2021-ford-f-350-king-ranch-black/2021-ford-f-350-black_005",
    "vehicles/ram/1500/2100-2021-ram-1500-trx-white/2021-ram-1500-white_006",
    "vehicles/ram/2500/2103-2016-ram-2500-black/2016-ram-2500-black_006",
    "vehicles/ram/2500/2103-2016-ram-2500-black/2016-ram-2500-black_039",
    "vehicles/ram/2500/2207-2022-ram-2500-limited-white/2022-ram-2500-white_005",
    "vehicles/toyota/land-cruiser/2111-2007-toyota-land-cruiser-black/2007-toyota-land-cruiser-black_012",
    "vehicles/toyota/tacoma/2204-2021-toyota-tacoma-silver/2021-toyota-tacoma-silver_004",
    "vehicles/toyota/tacoma/2204-2021-toyota-tacoma-silver/2021-toyota-tacoma-silver_011",
];
---

<Layout title="Texas High-Performance Off-Road Vehicle Builds" description="THOR Off-Road is the top off-road parts and installation outfitter in Texas for Ford Chevrolet GMC RAM Toyota Lexus Can-Am Polaris Jeep">
    <Container classes="my-16 md:my-24 space-y-8">
        <h1 class="text-black">Gallery</h1>

        <div class="space-y-2 md:space-y-4">
            <div class="flex flex-wrap gap-2 sm:gap-4">
                {
                    allVehicleMakes.map((m) => (
                        <div class="flex min-w-fit flex-1 justify-center rounded-sm border border-stone-300 hover:bg-stone-100">
                            <a href={`/gallery/${m.slug}`} class="flex justify-center p-3 text-lg font-semibold tracking-tight text-stone-700">
                                {m.data.title}
                            </a>
                        </div>
                    ))
                }
            </div>

            <Gallery element="gallery">
                {gallery.map((p) => <Photo src={p} class="h-full w-full rounded-sm object-cover align-bottom shadow-lg" sizes="(min-width:640px) 50vw, (min-width:768px) 25vw, 100vw" />)}
            </Gallery>
        </div>
    </Container>
</Layout>
