---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Photo from "@/components/images/Photo";

// functions
import { getMakes } from "@/functions/Vehicles";

const makes = await getMakes();
---

<Layout>
    <Container classes="my-24 space-y-8">
        <h1 class="text-black">Gallery</h1>

        <div class="grid grid-flow-col gap-3">
            {
                makes.map((m) => (
                    <div class="relative flex flex-col gap-3 overflow-hidden border border-stone-300">
                        <p class="relative flex justify-center py-3 text-lg font-semibold tracking-tight text-stone-600">{m.title}</p>
                    </div>
                ))
            }
        </div>
    </Container>
</Layout>
