---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Photo from "@/components/images/Photo";

// functions
import { getMakes } from "@/functions/Vehicles";

const makes = await getMakes();
---

<Layout>
    <Container classes="my-24 space-y-8">
        <h1 class="text-black">Gallery</h1>

        <div class="grid grid-flow-col gap-3">
            {
                makes.map((m) => (
                    <div class="relative flex flex-col gap-3 overflow-hidden shadow-xl">
                        <Photo src={m.featured} width={300} height={300} classes="absolute object-cover w-full h-full rounded-sm" />
                        <div class="absolute h-full w-full bg-gradient-to-r from-black/80 to-transparent" />

                        <h4 class="relative flex justify-center py-6 text-stone-100">{m.title}</h4>
                    </div>
                ))
            }
        </div>
    </Container>
</Layout>
