---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Photo from "@/components/images/Photo";
import Hero from "@/components/Hero";

// functions
import { getPublicPath } from "@/functions/Media";
---

<Layout>
    <!-- <Hero image={entry.data.featured} title={entry.data.title} /> -->

    <Container classes="my-16 md:my-24 space-y-24 md:space-y-40">
        <div class="space-y-12">
            <div class="max-w-3xl space-y-8">
                <h1 class="text-stone-800">Your BDS Specialists</h1>
                <p class="text-xl leading-9 text-stone-600">THOR Off Road is the leading BDS specialist in Central Texas.</p>
            </div>
        </div>
    </Container>
</Layout>
