---
// images
import buildImage from "../../assets/images/header03.jpg";
---

<li>
    <a href="/builds/build">
        <img class="aspect-[3/2] w-full rounded-md object-cover" src={buildImage.src} alt="" />

        <h3 class="mt-6 text-lg font-semibold leading-8 text-white">2015 Dodge 2500</h3>
        <p class="text-base leading-7 text-gray-500">Dripping Springs, TX</p>
        <p class="mt-4 text-base leading-7 text-gray-300 line-clamp-3">Praesentium iure error aliquam voluptas ut libero. Commodi placeat sit iure nulla officiis. Ut ex sit repellat tempora. Qui est accusamus exercitationem natus ut voluptas. Officiis velit eos ducimus.</p>
    </a>
</li>
