---
// images
import buildImage from "../../assets/images/header03.jpg";
import Hover from "../images/Hover.astro";
import Surround from "../content/Surround.astro";
---

<Surround href="builds/build">
    <div class="group">
        <Hover>
            <img class="aspect-[3/2] w-full rounded-t-md object-cover" src={buildImage.src} alt="" />
        </Hover>

        <div class="p-6">
            <h5>2015 Dodge 2500</h5>
            <p class="text-base leading-7 text-neutral-500">Dripping Springs, TX</p>
        </div>
    </div>
</Surround>
