---
// props
interface Props {
    current?: boolean;
}
const { current = false, ...attrs } = Astro.props;
---

<a class:list={["w-full text-sm hover:bg-stone-100 transition duration-300 rounded p-3 text-stone-700 font-medium hover:text-stone-800", current ? `bg-stone-100` : `bg-stone-200`]} {...attrs}>
    <slot />
</a>
