---
// imports
import { getBuildImage } from "@/functions/Image";

import Picture from "@/components/images/Picture";

// content
import { getEntryBySlug } from "astro:content";

// props
export interface Props {
    slug: any;
}
const { slug } = Astro.props;

const build = await getEntryBySlug("builds", slug);
---

<div class="grid grid-cols-4 gap-3">
    <div class="relative w-full h-full">
        <Picture src={getBuildImage(build.data.id, build.data.images.snippet)} sizes="" alt="" class:list={["object-cover rounded w-full h-full"]} slot="picture" />
    </div>

    <div class="col-span-3 space-y-1">
        <div class:list={["font-medium line-clamp-1 tracking-tight text-lg"]}>{build.data.year}&nbsp;{build.data.make}&nbsp;{build.data.model}</div>
        <ul class="line-clamp-2 comma-list tracking-tight text-sm">
            {build.data.parts.map((p) => <li>{p}</li>)}
        </ul>
    </div>
</div>
