---
// imports
import { getBuildImage } from "@/functions/Image";
import { getBuildTitle } from "@/functions/Content";
import { getEntry } from "astro:content";

import Picture from "@/components/images/Picture";

// props
export interface Props {
    id: any;
}
const { id } = Astro.props;

const build = await getEntry("builds", id);
---

<a href={`/builds/${build.id}`} title={await getBuildTitle(build.id)} class="grid grid-cols-4 gap-3">
    <div class="relative w-full h-full">
        <Picture src={getBuildImage(build.id, build.data.images.snippet)} sizes="250px" alt={getBuildTitle(build.id)} class:list={["absolute rounded-sm object-cover h-full"]} slot="picture" />
    </div>

    <div class="col-span-3 space-y-1">
        <div class:list={["font-medium line-clamp-1 tracking-tight text-lg"]}>{getBuildTitle(build.id)}</div>
        <ul class="line-clamp-2 comma-list tracking-tight text-xs font-light">
            {build.data.meta.parts.map((p) => <li>{p}</li>)}
        </ul>
    </div>
</a>
