---
// data
import { Buttons } from "@/data/buttons";

export interface Props {
    text: string;
    url: string;
    theme?: string;
    classes?: string;
}
const { text, url, theme = "primary", classes } = Astro.props as Props;
---

<a href={url} title={text} class:list={["flex gap-3 rounded-md px-4 py-3 font-medium shadow-solid border transition duration-200 w-fit", Buttons[theme], classes]}>
    <slot />
    {text}
</a>
