---
interface Props {
    href?: string;
    theme?: string;
}
const { href, theme = "primary", ...attrs } = Astro.props;
---

{
    href ? (
        <a href={href} class:list={["button", `button-${theme}`]} {...attrs}>
            <span class="-skew-x-24">
                <slot />
            </span>
        </a>
    ) : (
        <div class:list={["button", `button-${theme}`]} {...attrs}>
            <div class="-skew-x-12">
                <slot />
            </div>
        </div>
    )
}
