---
export interface Props {
    text: string;
    url: string;
    theme?: string;
    classes?: string;
}
const { text, url, theme = "primary", classes } = Astro.props as Props;

// button themes
const buttons = {
    primary: ["bg-white", "hover:bg-neutral-50", "border-neutral-400", "hover:border-neutral-500", "shadow-tan-600/50"],
    secondary: ["bg-yellow-500", "hover:bg-yellow-400", "border-yellow-600", "hover:border-yellow-700/80", "shadow-tan-600/50"],
};
---

<a href={url} title={text} class:list={["flex gap-3 rounded-md px-4 py-3 font-medium shadow-solid border transition duration-200 w-fit", buttons[theme], classes]}>
    <slot />
    {text}
</a>
