---
interface Props {
    href?: string;
    theme?: string;
}
const { href, theme = "primary", ...attrs } = Astro.props;
---

{
    href ? (
        <a href={href} class:list={["button", `button-${theme}`]} {...attrs}>
            <slot />
        </a>
    ) : (
        <div class:list={["button", `button-${theme}`]} {...attrs}>
            <slot />
        </div>
    )
}
