---
// props
interface Props {
    arrow?: boolean;
    size?: string;
    classes?: string;
}
const { arrow = false, size = "lg", classes, ...attrs } = Astro.props;
---

<a class:list={["group font-semibold hover:cursor-pointer inline-block", size && `text-${size}`, classes]} {...attrs}>
    <slot />

    {arrow && <span>&rarr;</span>}
</a>
