---
// props
interface Props {
    arrow?: boolean;
    classes?: string;
    href?: string;
    size?: string;
}
const { arrow = false, classes, href, size = "lg", ...attrs } = Astro.props;
---

{
    href ? (
        <a class:list={["group font-semibold hover:cursor-pointer inline-block", size && `text-${size}`, classes]} href={href} {...attrs}>
            <slot />

            {arrow && <span>&rarr;</span>}
        </a>
    ) : (
        <div class:list={["group font-semibold hover:cursor-pointer inline-block", size && `text-${size}`, classes]} {...attrs}>
            <slot />

            {arrow && <span>&rarr;</span>}
        </div>
    )
}
