---
// props
interface Props {
    arrow?: boolean;
    size?: string;
}
const { arrow = false, size = "lg", ...attrs } = Astro.props;
---

<a class:list={["group font-semibold text-white hover:cursor-pointer inline-block", size && `text-${size}`]} {...attrs}>
    <slot />

    {
        arrow && (
            <span aria-hidden="true" class="ml-1 group-hover:ml-2 transition-all">
                &rarr;
            </span>
        )
    }
</a>
