---
// props
interface Props {
    theme?: string;
}
const { theme = "primary", ...attrs } = Astro.props;

// background theming
const themes = {
    primary: ["bg-gradient-to-b from-stone-600 to-stone-800"],
    secondary: ["bg-gradient-to-br from-stone-300 to-stone-100"],
};
---

<div class={themes[theme]} {...attrs}>
    <slot />
</div>
