---
// props
interface Props {
    theme?: string;
}
const { theme = "primary", ...attrs } = Astro.props;

// background theming
const base = "bg-gradient-to-r";
const themes = {
    primary: ["from-neutral-900 to-neutral-700"],
    secondary: ["from-neutral-300 to-white"],
    tertiary: ["bg-gradient-to-tr from-neutral-700 to-neutral-900"],
};
---

<div class:list={[base, themes[theme]]}>
    <slot />
</div>
