---
// props
interface Props {
    theme?: string;
}
const { theme = "primary", ...attrs } = Astro.props;

// background theming
const themes = {
    primary: ["bg-gradient-to-br from-neutral-700 to-neutral-900"],
    secondary: ["bg-gradient-to-r from-neutral-300 to-neutral-100"],
};
---

<div class={themes[theme]} {...attrs}>
    <slot />
</div>
