---
// props
interface Props {
    href?: string;
    classes?: string;
}
const { href, classes, ...attrs } = Astro.props;
---

<a href={href} class:list={["relative isolate flex flex-col justify-end overflow-hidden rounded px-6 pb-6 group", classes]} {...attrs}>
    <slot name="picture" />

    <div class="absolute inset-0 -z-10 bg-gradient-to-t from-stone-800/70 via-transparent duration-500"></div>

    <slot />
</a>

<style type="text/css">
    :global(img) {
        @apply group-hover:scale-105 transition duration-300;
    }
</style>
