---
// props
interface Props {
	float?: boolean;
	reverse?: boolean;
	size?: "large" | "small";
}
const { float = false, reverse = false, size = "large", ...attrs } = Astro.props;
---

<div class:list={["flex flex-col lg:flex-row gap-16", reverse && `flex-col-reverse lg:flex-row-reverse`]} {...attrs}>
	<div class:list={["w-full lg:h-full flex-none", float && "lg:sticky lg:top-32", size === "large" ? "lg:w-1/3" : "xl:w-1/5 lg:w-1/4"]}>
		<slot name="left" />
	</div>

	<div class="space-y-32 lg:w-2/3">
		<slot />
	</div>
</div>
