---
// props
interface Props {
    float?: boolean;
}
const { float = false, ...attrs } = Astro.props;
---

<div class="flex gap-8" {...attrs}>
    <div class:list={["w-1/3 flex-none h-full space-y-12 bg-white p-8 rounded shadow", float && "sticky top-44"]}>
        <slot name="left" />
    </div>

    <div class="space-y-32">
        <slot />
    </div>
</div>
