---
// props
interface Props {
    float?: boolean;
    reverse?: boolean;
}
const { float = false, reverse = false, ...attrs } = Astro.props;
---

<div class:list={["flex flex-col lg:flex-row gap-16", reverse && `lg:flex-row-reverse`]} {...attrs}>
    <div class:list={["w-full lg:w-1/3 lg:h-full flex-none", float && "lg:sticky lg:top-32"]}>
        <slot name="left" />
    </div>

    <div class="space-y-32 lg:w-2/3">
        <slot />
    </div>
</div>
