---
interface Props {
    number: number;
    heading: string;
    content: string;
    darkTheme: boolean;
}
const { number, heading, content, darkTheme = false } = Astro.props;
---

<div class="space-y-4 @container">
    <div class="flex flex-col @md:flex-row gap-3">
        <span class="self-start px-3 py-1 rounded bg-stone-50 text-stone-700 text-lg lg:text-xl font-bold">{number}</span>
        <h4 class={darkTheme ? `text-stone-200` : `text-stone-900`}>{heading}</h4>
    </div>

    <div class:list={["text-lg leading-7 sm:max-w-md lg:max-w-none", darkTheme ? `text-stone-400` : `text-stone-600`]}>
        <p>{content}</p>
    </div>
</div>
