---
// props
interface Props {
    href?: string;
    classes?: string;
}
const { href, classes } = Astro.props;
const styles = "group bg-gray-700/30 hover:bg-gray-700/50 transition duration-300 grid gap-6 md:gap-12 relative rounded-md overflow-hidden";
---

{
    href ? (
        <a href={href} class:list={[styles, classes]}>
            <slot />
        </a>
    ) : (
        <div class:list={[styles, classes]}>
            <slot />
        </div>
    )
}
