---
// props
interface Props {
    href?: string;
    classes?: string;
    hover: boolean;
}
const { href, classes, hover = false } = Astro.props;
const styles = "group bg-gradient-to-tl from-neutral-300 to-neutral-200 grid gap-6 md:gap-12 relative rounded-md overflow-hidden";
---

{
    href ? (
        <a href={href} class:list={[styles, classes, hover && `hover:bg-neutral-700/50 transition duration-300`]}>
            <slot />
        </a>
    ) : (
        <div class:list={[styles, classes]}>
            <slot />
        </div>
    )
}
