---
export const prerender = false;

import Layout from "@/layouts/Layout";

import { cosmic } from "@/library/cosmic";
import { Business } from "@/config";
import Container from "@/components/Container";
import Picture from "@/components/images/Picture";

const { object: page } = await cosmic.objects
	.findOne({
		type: "page-contact",
		slug: "page-contact",
	})
	.props("slug, title, metadata");
---

<Layout title="Contact Us - Success">
	<div class="bg-chathams-blue-600">
		<Container>
			<div class="section section-small space-y-4 md:space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">Thanks!<br /><strong>We're On It</strong></h1>
				<p class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-3xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0">
					We've received your contact information and will be reaching out shortly. In the meantime, if you need anything else, please reach out to us at <a
						class="font-semibold"
						href=`tel:${Business.phone.number}`
						title="THOR Off Road Phone">{Business.phone.formatted}</a
					>.
				</p>
			</div>
		</Container>
	</div>

	<div class="grid grid-cols-3 h-[400px]">
		{page.metadata.success_images.map((h) => <Picture src={h.url} alt="" loading="eager" class:list={["w-full h-full object-cover rounded shadow-lg"]} />)}
	</div>
</Layout>
