---
import Layout from "@/layouts/Layout";

// imports
import Container from "@/components/Container";
import Section from "@/components/Section";
---

<Layout title="Contact Us - Success">
    <Section small={true}>
        <Container>
            <div class="space-y-6">
                <h1>Success</h1>
                <p class="text-2xl">Thanks for sending us a message, we'll respond ASAP and get started.</p>
            </div>
        </Container>
    </Section>
</Layout>
