---
import Layout from "@/layouts/Layout";

import { Business } from "@/config";
import Container from "@/components/Container";
import Picture from "@/components/images/Picture";

const headlineImages = [
	{ url: "team/shop/thoroffroad-01.jpg", alt: "Employee at THOR Off-Road" },
	{ url: "team/shop/thoroffroad-02.jpg", alt: "Working on a vehicle at THOR Off-Road" },
	{ url: "team/shop/thoroffroad-03.jpg", alt: "Installing off road parts at THOR Off-Road" },
];
---

<Layout title="Contact Us - Success">
	<div class="bg-chathams-blue-600">
		<Container>
			<div class="section section-small space-y-4 md:space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">Thanks!</h1>
				<p class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-3xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0">
					We've received your contact information and will be reaching out shortly. In the meantime, if you need anything else, please reach out to us at <a href=`tel:${Business.phone.number}` title="THOR Off Road Phone"
						>{Business.phone.formatted}</a
					>.
				</p>

				<div class="flex flex-col md:flex-row gap-6 items-center justify-center lg:justify-start">
					<a href="/contact" class="button button-secondary">Build Your Truck!</a>
					<a href="/builds" class="font-medium">See Our Builds &gt;</a>
				</div>
			</div>
		</Container>
	</div>

	<div class="grid grid-cols-3 h-[400px]">
		{headlineImages.map((h) => <Picture src={h.url} alt={h.alt} loading="eager" class:list={["w-full h-full object-cover rounded shadow-lg"]} />)}
	</div>
</Layout>
