@import url("_fonts.css");
@import url("buttons.css");
@import url("forms.css");
@import url("images.css");
@import url("navigation.css");
@import url("spacing.css");
@import url("typography.css");

:root {
	font-family: Manrope, sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* alpine.js hide on load */
[x-cloak] {
	display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}