@tailwind base;
@tailwind components;
@tailwind utilities;

@import "biggerPicture";
@import "buttons";
@import "typography";
@import "navigation";

// alpine.js hide on load
[x-cloak] {
    display: none !important;
}

html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

::-moz-selection {
    background: #ffedd5;
}
::selection {
    background: #ffedd5;
}

.bp-cap {
    @apply leading-7 tracking-tight px-6 py-4 text-base text-stone-300 rounded;
}
.bp-img img { @apply rounded shadow; }