@import url("_fonts.css");
@import url("buttons.css");
@import url("builds.css");
@import url("forms.css");
@import url("images.css");
@import url("navigation.css");
@import url("spacing.css");
@import url("typography.css");

html {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

/* alpine.js hide on load */
[x-cloak] {
    display: none !important;
}

::-moz-selection {
    background: #ffedd5;
}
::selection {
    background: #ffedd5;
}
