@font-face {
	font-family: "LeagueSpartan";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/LeagueSpartanVariable.ttf") format("truetype");
	font-named-instance: "Regular";
}

@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 100 800;
	font-display: swap;
	src: url("/fonts/ManropeVariable.ttf") format("truetype");
	font-named-instance: "Regular";
}