:root {
    /* colors */
    --color-alt: #ef233c;
    --color-dark: #1f1f1f;
    --color-light: #f5f5f5;

    /* widths */
    --max-display: 1280px;
    
    /* breakpoints */
    --bp-mobile: 640px;
    --bp-tablet: 1024px;
    --bp-desktop: 1280px;

    /* spacing */
    --padding-xs: 15px;
    --padding-sm: 30px;
    --padding-base: 60px;
    --padding-lg: 120px;
}