.container {
    max-width: var(--max-display);
    margin: 0 auto;

    @media (max-width: 640px) {
        padding: 0 var(--padding-xs);
    }
}

.split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}