---
import Picture from "@/components/images/Picture";

interface Props {
	build: object;
	sizes?: string;
	classes: string;
}
const { build, sizes = "100vw", classes, ...attrs } = Astro.props;
---

<a href={`/builds/${build.slug}`} class:list={["group space-y-4 flex flex-col flex-shrink-0", classes]} {...attrs}>
	<Picture src={build.metadata.images.featured.url} alt={build.title} class="h-auto aspect-video object-cover rounded shadow-2xl group-hover:shadow-white/10 transition duration-300" sizes="400px" />

	<div class="mx-auto text-center w-3/4 text-balance font-alt text-xl lg:text-2xl uppercase tracking-tight leading-7 font-semibold">{build.title}</div>
</a>
