---
import Layout from "@/layouts/Layout";

import { supabaseService } from "@/library/supabase";
import { getCollection } from "astro:content";
import { pipeline } from "@xenova/transformers";

// const sbMakes = await supabaseService.from("makes").select("*");
// const sbModels = await supabaseService.from("models").select("*");
// const sbParts = await supabaseService.from("parts").select("*");
// const sbBuilds = await supabaseService.from("builds").select("*");
// const sbInstalledParts = await supabaseService.from("parts_installed").select("*");
const astroBuilds = await getCollection("builds");

const insertArray = [];

await Promise.all(
	astroBuilds.map(async (b) => {
		
	}),
);

---

<Layout>
	<!-- map sorted items
	<ul>
		{sorted.map((u) => <li>{u}</li>)}
	</ul> -->
</Layout>
