---
import Layout from "@/layouts/Layout";

import { supabaseService } from "@/library/supabase";
import { getCollection } from "astro:content";
import { pipeline } from "@xenova/transformers";

const sbMakes = await supabaseService.from("makes").select("*");
const sbModels = await supabaseService.from("models").select("*");
const sbBuilds = await supabaseService.from("builds").select("*");
const asBuilds = await getCollection("builds");

const partsArr = [];

await Promise.all(
	asBuilds.map(async (b) => {
		// const ccBuild = asBuilds.filter((a) => a.id === b.slug);

		b.data.meta.parts.forEach((part) => partsArr.push(part));

		// const { error, data } = await supabaseService.from("builds_images").insert(imageArray);
		// console.log(error);
	}),
);

const unique = [...new Set(partsArr)];
const sorted = partsArr.sort();
---

<Layout>
	<ul>
		{sorted.map((u) => <li>{u}</li>)}
	</ul>
</Layout>
