---
// components
import { Icon } from "astro-icon";
import Container from "@/components/Container";

// config
import { Social } from "../../config.js";
---

<div class="bg-gradient-to-r from-orange-100 to-orange-200">
    <Container>
        <div class="flex items-center justify-between">
            <div class="text-sm leading-6 text-stone-900">
                <div class="flex gap-4">
                    <strong class="font-semibold line-clamp-1">Carli Suspension in Stock</strong>
                    <span class="hidden md:block">&middot;</span>
                    <span class="hidden md:block">Contact Us for the Best Pricing!</span>
                </div>
            </div>

            <!-- social -->
            <div class="flex items-center">
                {
                    Social.map((s) => (
                        <a href={s.url} target="_blank" title={`THOR Off-Road ${s.title}`} class="py-4 px-2 sm:p-4 group hover:bg-white transition">
                            <Icon name={s.icon} class="h-auto w-4 text-stone-800" />
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
