---
// components
import { Icon } from "astro-icon";
import Container from "../Container.astro";

// config
import { Social } from "../../config.js";
---

<div class="bg-gray-300">
    <Container>
        <div class="flex items-center justify-between">
            <!-- left -->
            <p class="text-sm leading-6 text-gray-900">
                <a href="#" class="flex gap-2">
                    <strong class="font-semibold">Carli 3.5 Pintop Sale</strong>
                    <span class="hidden md:block font-light">&middot;</span>
                    <span class="hidden md:block font-light">15% off with install - Call us to get on the schedule!</span>
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </p>

            <!-- right -->
            <div class="flex items-center">
                {
                    Social.map((s) => (
                        <a href={s.url} target="_blank" title={`THOR Off-Road ${s.title}`} class="p-3 hover:bg-gray-200 transition group">
                            <Icon name={`social/${s.icon}`} class="h-auto w-4 text-gray-800 group-hover:text-gray-900 transition" />
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
