---
// components
import Container from "../Container.astro";
import SocialFacebook from "../vectors/social/SocialFacebook.astro";
import SocialInstagram from "../vectors/social/SocialInstagram.astro";
import SocialYouTube from "../vectors/social/SocialYouTube.astro";
import SocialMaps from "../vectors/social/SocialMaps.astro";
---

<div class="bg-gradient-to-r from-gray-900/90 via-gray-600 to-gray-900/90 bg-clip-padding backdrop-filter backdrop-blur-md">
    <Container>
        <div class="flex items-center py-2.5 justify-between">
            <!-- left -->
            <p class="text-sm leading-6 text-white">
                <a href="#" class="flex gap-2">
                    <strong class="font-semibold">Carli 3.5 Pintop Sale</strong>
                    <span class="hidden sm:block">&middot;</span>
                    <span class="hidden sm:block">15% off with install - Call us to get on the schedule!</span>
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </p>

            <!-- right -->
            <div class="flex gap-4 sm:gap-6">
                <a href="https://www.facebook.com/thoroffroadtx/" target="_blank" title="THOR Off-Road Facebook">
                    <SocialFacebook classes="w-4 text-white" />
                </a>
                <a href="https://www.instagram.com/thor_offroad/" target="_blank" title="THOR Off-Road Instagram">
                    <SocialInstagram classes="w-4 text-white" />
                </a>
                <a href="https://www.youtube.com/channel/UCq4-u8q-XIz4_YyCrZC_y6w/featured" target="_blank" title="THOR Off-Road YouTube">
                    <SocialYouTube classes="w-4 text-white" />
                </a>
                <a href="https://g.page/thoroffroadtx" target="_blank" title="THOR Off-Road Google Maps">
                    <SocialMaps classes="w-4 text-white" />
                </a>
            </div>
        </div>
    </Container>
</div>
