---
// imports
import { Icon } from "astro-icon";
import { Social } from "@/config";
---

<div class="banner">
    <div class="container">
        <div class="split">
            <div class="marketing">
                <span class="line-clamp-1">Carli Suspension in Stock</span>
                <span class="hidden md:block">&middot;</span>
                <span class="hidden md:block">Contact Us for Pricing!</span>
            </div>

            <div class="social">
                {
                    Social.map((s) => (
                        <a href={s.url} target="_blank" title={`THOR Off-Road ${s.title}`}>
                            <Icon name={s.icon} />
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</div>

<style>
    .banner {
        background-color: var(--color-alt);
        color: var(--color-light);
        font-size: 0.8em;
        padding: 12px 0;
    }

    .marketing {
        display: flex;
        gap: 6px;

        & span:first-child {
            font-weight: 600;
        }
    }

    .social {
        display: flex;
        align-content: center;
        gap: 12px;

        & a {
            height: 1.2em;
            width: 1.2em;
        }

        & :global(svg) {
            color: var(--color-light);
        }
    }
</style>
