---
// components
import { Icon } from "astro-icon";
import Container from "../Container.astro";

// config
import { Social } from "../../config.js";
---

<div class="bg-stone-200">
    <Container>
        <div class="flex items-center justify-center sm:justify-between">
            <!-- notification -->
            <div class="text-sm leading-6 text-stone-900 hidden sm:block">
                <div class="flex gap-2">
                    <strong class="font-semibold">
                        Carli Suspension in Stock
                    </strong>
                    <span class="hidden md:block">&middot;</span>
                    <span class="hidden md:block">
                        Contact Us for the Best Pricing!
                    </span>
                    <!-- <span aria-hidden="true">&rarr;</span> -->
                </div>
            </div>

            <!-- social -->
            <div class="flex items-center">
                {
                    Social.map((s) => (
                        <a
                            href={s.url}
                            target="_blank"
                            title={`THOR Off-Road ${s.title}`}
                            class="p-4 group hover:bg-stone-300 transition ">
                            <Icon
                                name={s.icon}
                                class="h-auto w-4 text-stone-800 transition"
                            />
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
