---
// components
import { Icon } from "astro-icon";
import Container from "../Container.astro";

// config
import { Social } from "../../config.js";
---

<div class="bg-neutral-200 py-2">
    <Container>
        <div class="flex items-center justify-between">
            <!-- notification -->
            <div class="text-sm leading-6 text-neutral-900">
                <div class="flex gap-2">
                    <strong class="font-semibold">Carli 3.5 Pintop Sale</strong>
                    <span class="hidden md:block">&middot;</span>
                    <span class="hidden md:block">15% off with install - Call us to get on the schedule!</span>
                    <span aria-hidden="true">&rarr;</span>
                </div>
            </div>

            <!-- social -->
            <div class="flex items-center">
                {
                    Social.map((s) => (
                        <a href={s.url} target="_blank" title={`THOR Off-Road ${s.title}`} class="p-3 group hover:bg-neutral-300 transition ">
                            <Icon name={`social/${s.icon}`} class="h-auto w-4 text-neutral-800 transition" />
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
