---
// components
import { Icon } from "astro-icon";

// props
export interface Props {
    path: any;
}
const { path } = Astro.props;

let url = path.split("/");
var crumbParts = [
    {
        text: "home",
        link: "/",
    },
];

for (var i = 1; i < url.length; i++) {
    var crumbPart = url[i];
    var text = crumbPart.replace(/-/g, " ").toLowerCase();
    var link = url.slice(0, i + 1).join("/");
    crumbParts.push({ text: text, link: link });
}
---

<nav>
    <ol class="flex gap-1">
        {
            crumbParts.map((crumb) =>
                <li>
                    <a href={crumb.link}>
                        <span>{crumb.text}</span>
                    </a>
                </li>
                <Icon name="bi:chevron-right" class="w-2" />
            )
        }
    </ol>
</nav>

<style>
    ol svg:last-child {
        display: none;
    }
</style>