---
// components
import { Icon } from "astro-icon";
import { getImage } from "@astrojs/image";
import { Image } from "@astrojs/image/components";

import { imageConfig } from "@/src/config";

// functions
import { getPublicPath } from "@/functions/Media";

// images
const logo = getPublicPath("/Images/Website/Logos/logo-black.svg");
const icon = `${imageConfig.cloudUrl}/Images/Vehicles/Ford/F-250/2110-2021-Ford-F-250-Lariat-De-Tremor-Lithium-Grey/2021-Ford-F-250-Lariat-De-Tremor-Lithium-Grey_003.jpg`;
const iconImage = await getImage({
    src: icon,
    width: 100,
    height: 100,
});
---

<!-- transparency -->
<div class="fixed top-0 right-0 z-30 h-full w-screen bg-black bg-opacity-70"></div>
<div class="fixed z-50 top-0 right-0 p-8 h-screen max-w-[350px] bg-gradient-to-tr from-neutral-300 to-white" x-on:click.outside="flyout = false">
    <div class="space-y-12">
        <div class="flex justify-between items-center">
            <!-- logo -->
            <img src={logo} class="w-32" />

            <!-- hamburger -->
            <button x-on:click="flyout = false">
                <Icon name="bi:x" class="w-8 text-neutral-300" />
            </button>
        </div>

        <!-- flyout -->
        <div>
            <!-- heading -->
            <div class="flex justify-between items-center bg-red-500 rounded-sm text-white p-2">
                <h4 class="text-3xl">Parts</h4>
                <Icon name="bi:dash" class="w-5" />
            </div>

            <!-- menu -->
            <div class="border border-red-500 p-4 space-y-3">
                {
                    [...Array(3)].map((d) => (
                        <div class="grid grid-cols-3 gap-2">
                            <div
                                style={`background-image: url(${iconImage.src}); background-repeat: no-repeat; background-size: cover; background-position: center`}
                                class="h-auto max-w-[100px] rounded-sm"
                            />

                            <div class="col-span-2">
                                <div class="font-medium">Chevrolet</div>
                                <p class="text-xs font-light">Colorado, Canyon, Silverado, Sierra, Tahoe & Yukon.</p>
                            </div>
                        </div>
                    ))
                }
            </div>
            <h4 class="text-neutral-800 text-3xl">Gallery</h4>
            <h4 class="text-neutral-800 text-3xl">Feed</h4>
        </div>
    </div>
</div>
