---
// components
import Container from "@/components/Container";
---

<div class="absolute top-[102px] inset-0 w-full z-30 hidden megamenu">
    <div class="bg-white w-full">
        <Container classes="py-8">
            <div class="flex flex-row">
                <slot />
            </div>
        </Container>
    </div>
</div>
