---
// components
import { Image } from "astro:assets";
import Button from "../buttons/Button.astro";
import Container from "../Container.astro";
import MenuMobile from "./mobile/MenuMobile.astro";
import MenuParts from "./desktop/MenuParts.astro";
import MenuVehicles from "./desktop/MenuVehicles.astro";

// config
import { Business } from "../../config.js";

// images
import logo from "../../assets/images/logo-white.png";
---

<header class="bg-red-600 relative">
    <Container>
        <nav class="flex items-center h-24 justify-between gap-x-6" aria-label="Global">
            <div class="flex lg:gap-x-6">
                <a href="/">
                    <span class="sr-only">{Business.nameLong}</span>
                    <Image src={logo.src} width={1079} height={336} alt={Business.nameLong} class="h-12 w-auto" />
                </a>

                <div class="hidden lg:flex items-center">
                    <MenuVehicles />
                    <MenuParts />
                    <a href="/builds" class="font-semibold leading-6 text-white transition px-4 py-3 hover:bg-red-500">Builds</a>
                </div>
            </div>

            <div class="hidden lg:flex flex-1 items-center justify-end gap-x-4">
                <Button text={Business.phone} theme="primary" />
                <Button text="Contact Us" theme="secondary" />
            </div>

            <div class="flex lg:hidden" x-data={`{ mobileMenu : false }`}>
                <button type="button" class="inline-flex items-center justify-center rounded-md text-gray-700 cursor-pointer" x-on:click={`mobileMenu = true`}>
                    <span class="sr-only">Open main menu</span>

                    <svg class="h-8 w-8 text-white cursor-pointer" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                    </svg>
                </button>

                <MenuMobile />
            </div>
        </nav>
    </Container>
</header>
