---
// components
import Container from "@/components/Container";
---

<div class="bg-tan-300">
    <Container classes="py-8">
        <div>
            <h4 class="text-neutral-800">Vehicles</h4>
        </div>
    </Container>
</div>
