---
// components
import Container from "@/components/Container";
import Vector from "@/components/images/Vector";
---

<div class="bg-tan-300">
    <Container classes="py-8">
        <div class="flex flex-row gap-16">
            <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <div class="text-lg font-medium">Chevrolet</div>
                    <p class="text-sm">We build custom F-150's, Bronco's and More.</p>
                </div>
                <div class="flex flex-col">
                    <div class="text-xl font-medium">Ford</div>
                    <p>We build custom F-150's, Bronco's and More.</p>
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <div class="text-xl font-medium">GMC</div>
                    <p>We build custom F-150's, Bronco's and More.</p>
                </div>
                <div class="flex flex-col">
                    <div class="text-xl font-medium">Jeep</div>
                    <p>We build custom F-150's, Bronco's and More.</p>
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <div class="text-xl font-medium">Toyota</div>
                    <p>We build custom F-150's, Bronco's and More.</p>
                </div>
                <div class="flex flex-col">
                    <div class="text-xl font-medium">Lexus</div>
                    <p>We build custom F-150's, Bronco's and More.</p>
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <div class="text-xl font-medium">RAM</div>
                    <p>We build custom F-150's, Bronco's and More.</p>
                </div>
                <div class="flex flex-col">
                    <div class="text-xl font-medium">Side By Side</div>
                    <p>We build custom F-150's, Bronco's and More.</p>
                </div>
            </div>
        </div>
    </Container>
</div>
