---
// components
import { Image } from "@astrojs/image/components";
import Container from "@/components/Container";

// functions
import { getImage } from "@/functions/Media";

// images
const devImage = await getImage("devImage");
---

<div class="absolute top-[120px] inset-0 w-full z-30 hidden megamenu">
    <div class="bg-tan-600 w-full shadow-2xl">
        <Container classes="py-8">
            <div class="flex flex-row">
                {
                    [...Array(4)].map((d) => (
                        <div class="flex flex-col gap-4">
                            {[...Array(2)].map((i) => (
                                <div class="flex items-center gap-2 rounded-sm p-3 transition duration-200 hover:bg-white">
                                    <Image src={devImage} width={100} height={100} class="h-full w-1/4 rounded-sm object-cover shadow-md" />
                                    <div class="flex flex-col">
                                        <div class="text-lg font-medium">Wheel & Tire</div>
                                        <p class="text-sm font-light">We can create the perfect wheel & tire package.</p>
                                    </div>
                                </div>
                            ))}
                        </div>
                    ))
                }
            </div>
        </Container>
    </div>
</div>
