---
// components
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";
import Flyout from "@/components/navigation/menus/Flyout";
import MegaMenu from "@/components/navigation/menus/MegaMenu";

// functions
import { Logos } from "@/data/business";

// functions
import { getPublicPath, getImage } from "@/functions/Media";

// images
const icon = await getImage(
    "/Images/Vehicles/Ford/F-250/2110-2021-Ford-F-250-Lariat-De-Tremor-Lithium-Grey/2021-Ford-F-250-Lariat-De-Tremor-Lithium-Grey_003.jpg"
);
---

<div class="bg-tan-500 sticky top-0 z-50 shadow-2xl">
    <div class="relative">
        <Container>
            <div class="flex justify-between items-center">
                <div
                    class="flex flex-row w-full lg:w-auto md:flex-row justify-between lg:justify-start items-center md:items-center gap-6 py-6 md:py-0"
                >
                    <!-- logo -->
                    <Image src={Logos.dark} width={145} aspectRatio="173:54" alt="THOR Off-Road" />

                    <!-- desktop menu -->
                    <div class="hidden md:flex font-medium">
                        <!-- vehicles -->
                        <MegaMenu name="Vehicles" target="vehiclesMega" url="/vehicles">
                            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
                                {
                                    [...Array(8)].map((d) => (
                                        <div class="flex items-center gap-2 rounded-md border border-white p-3 hover:border-neutral-200">
                                            <Image src={icon.src} width={100} height={100} class="h-full w-1/4 rounded-sm object-cover shadow-md" />

                                            <div class="flex flex-col">
                                                <div class="text-lg font-medium">Chevrolet</div>
                                                <p class="text-sm font-light">Colorado, Canyon, Silverado, Sierra, Tahoe & Yukon.</p>
                                            </div>
                                        </div>
                                    ))
                                }
                            </div>
                        </MegaMenu>

                        <!-- parts -->
                        <MegaMenu name="Parts" target="partsMega" url="/parts">
                            <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
                                {
                                    [...Array(8)].map((d) => (
                                        <div class="flex items-center gap-2 rounded-md border border-white p-3 hover:border-neutral-200">
                                            <div class="flex h-full w-1/4 justify-center rounded-md bg-neutral-100 p-2">
                                                <Icon name="car-parts/glyph/door-open-car" class="h-auto w-8" />
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-lg font-medium">Wheel & Tire</div>
                                                <p class="text-sm font-light">We can create the perfect wheel & tire package.</p>
                                            </div>
                                        </div>
                                    ))
                                }
                            </div>
                        </MegaMenu>

                        <div class="py-10 px-4">Gallery</div>
                        <div class="py-10 px-4">Feed</div>
                        <div class="lg:hidden py-10 px-4">Contact Us</div>
                    </div>

                    <div class="md:hidden" x-data={"{ flyout: true }"}>
                        <a x-on:click={"flyout = true"}>
                            <Icon name="bi:list" class="w-8 h-auto" x-show={"!flyout"} />
                            <Icon name="bi:x" class="w-8 h-auto" x-show={"flyout"} />
                        </a>

                        <div x-show={"flyout"}>
                            <Flyout />
                        </div>
                    </div>
                </div>

                <div class="hidden lg:flex gap-4">
                    <Button text="Call Us" url="/contact">
                        <Icon name="bi:telephone" class="w-3 h-auto" />
                    </Button>
                    <Button text="Contact Us" url="/contact" theme="secondary">
                        <Icon name="bi:envelope" class="w-3 h-auto" />
                    </Button>
                </div>
            </div>
        </Container>
    </div>
</div>
