---
// components
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";
import MegaMenu from "@/components/navigation/MegaMenu";

// functions
import { getPublicPath, getImage } from "@/functions/Media";

// images
const logo = getPublicPath("/Images/Website/Logos/logo-black.svg");
const icon = await getImage("/Images/Vehicles/Ford/F-250/2110-2021-Ford-F-250-Lariat-De-Tremor-Lithium-Grey/2021-Ford-F-250-Lariat-De-Tremor-Lithium-Grey_003.jpg");
---

<style>
    /* on hover, show megamenu */
    .dropdown:hover > :global(.megamenu) {
        display: block;
    }
</style>

<div class="bg-tan-500 relative">
    <Container>
        <div class="flex justify-between items-center">
            <div class="flex flex-row sm:flex-col w-full lg:w-auto md:flex-row justify-between lg:justify-start items-center sm:items-start md:items-center gap-2 md:gap-16 py-6 md:pt-0 sm:pb-0">
                <img src={logo} width="180" alt="THOR Off-Road" class="w-40" />

                <div class="hidden sm:flex lg:gap-0 font-medium text-neutral-600">
                    <div class="dropdown pt-4 pb-6 md:py-12 px-4">
                        <button class="flex gap-1 lg:gap-2">
                            <div class="flex gap-1 lg:gap-2">
                                Vehicles
                                <Icon name="bi:caret-down" class="w-3 h-auto" />
                            </div>
                        </button>

                        <MegaMenu>
                            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
                                {
                                    [...Array(8)].map((d) => (
                                        <div class="flex items-center gap-2 rounded-md border border-white p-3 hover:border-neutral-200">
                                            <Image src={icon.src} width={100} height={100} class="h-full w-1/4 rounded-sm object-cover shadow-md" />

                                            <div class="flex flex-col">
                                                <div class="text-lg font-medium">Chevrolet</div>
                                                <p class="text-sm font-light">Colorado, Canyon, Silverado, Sierra, Tahoe & Yukon.</p>
                                            </div>
                                        </div>
                                    ))
                                }
                            </div>
                        </MegaMenu>
                    </div>

                    <div class="dropdown pt-4 pb-6 md:py-12 px-4">
                        <button class="flex gap-1 lg:gap-2">
                            <div class="flex gap-1 lg:gap-2">
                                Parts
                                <Icon name="bi:caret-down" class="w-3 h-auto" />
                            </div>
                        </button>

                        <MegaMenu>
                            <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
                                {
                                    [...Array(8)].map((d) => (
                                        <div class="flex items-center gap-2 rounded-md border border-white p-3 hover:border-neutral-200">
                                            <div class="flex h-full w-1/4 justify-center rounded-md bg-neutral-200 p-2">
                                                <Icon name="car-parts/glyph/door-open-car" class="h-auto w-8" />
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-lg font-medium">Wheel & Tire</div>
                                                <p class="text-sm font-light">We can create the perfect wheel & tire package.</p>
                                            </div>
                                        </div>
                                    ))
                                }
                            </div>
                        </MegaMenu>
                    </div>
                    <div class="pt-4 pb-6 md:py-12 px-4">Gallery</div>
                    <div class="pt-4 pb-6 md:py-12 px-4">Feed</div>
                    <div class="lg:hidden pt-4 pb-6 md:py-12 px-4">Contact Us</div>
                </div>

                <div class="sm:hidden">
                    <Icon name="bi:list" class="w-8 h-auto" />
                </div>
            </div>

            <div class="hidden lg:flex gap-4">
                <Button text="Call Us" url="/contact">
                    <Icon name="bi:telephone" class="w-3 h-auto" />
                </Button>
                <Button text="Contact Us" url="/contact" theme="secondary">
                    <Icon name="bi:envelope" class="w-3 h-auto" />
                </Button>
            </div>
        </div>
    </Container>
</div>
