---
// components
import Container from "@/components/Container";
import Image from "@astrojs/image";

// images
import Logo from "../../assets/images/logos/logo-black.svg";
---

<div class="bg-orange-50">
    <Container>
        <Image src={Logo} />
    </Container>
</div>
