---
// components
import { Icon } from "astro-icon";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";
import VehiclesMenu from "@/components/navigation/MenuVehicles";
import PartsMenu from "@/components/navigation/MenuParts";

// functions
import { getPublicPath } from "@/functions/Media";

// images
const logo = getPublicPath("/Images/Website/Logos/logo-black.svg");
---

<style>
    .dropdown:hover > :global(.megamenu) {
        display: block;
    }
</style>

<div class="bg-tan-500 relative">
    <Container>
        <div class="flex justify-between items-center">
            <div class="flex flex-row sm:flex-col w-full lg:w-auto md:flex-row justify-between lg:justify-start items-center sm:items-start md:items-center gap-8 md:gap-16">
                <img src={logo} width="180" alt="THOR Off-Road" />

                <div class="hidden sm:flex gap-8 lg:gap-0 font-medium text-neutral-600">
                    <div class="dropdown py-12 px-4">
                        <button class="flex gap-1 lg:gap-2">
                            <div class="flex gap-1 lg:gap-2">
                                Vehicles
                                <Icon name="bi:caret-down" class="w-3 h-auto" />
                            </div>
                        </button>

                        <VehiclesMenu />
                    </div>

                    <div class="dropdown py-12 px-4">
                        <button class="flex gap-1 lg:gap-2">
                            <div class="flex gap-1 lg:gap-2">
                                Parts
                                <Icon name="bi:caret-down" class="w-3 h-auto" />
                            </div>
                        </button>

                        <PartsMenu />
                    </div>
                    <div class="py-12 px-4">Gallery</div>
                    <div class="py-12 px-4">Feed</div>
                    <div class="lg:hidden py-12 px-4">Contact Us</div>
                </div>

                <div class="sm:hidden">
                    <Icon name="bi:list" class="w-8 h-auto" />
                </div>
            </div>

            <div class="hidden lg:flex gap-4">
                <Button text="Call Us" url="/contact">
                    <Icon name="bi:telephone" class="w-3 h-auto" />
                </Button>
                <Button text="Contact Us" url="/contact" theme="secondary">
                    <Icon name="bi:envelope" class="w-3 h-auto" />
                </Button>
            </div>
        </div>
    </Container>
</div>
