---
import Layout from "@/layouts/Layout";

// imports
import Container from "@/components/Container";
---

<Layout title="404 - Not Found">
	<div class="relative">
		<img
			src="https://images.unsplash.com/photo-1707871737435-1c6719dd2b36?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
			alt="Broken down truck"
			class="absolute w-full h-full object-cover"
		/>
		<div class="w-full h-full bg-white/80 absolute backdrop-blur-sm"></div>

		<div class="section relative">
			<Container>
				<article class="flex flex-col items-center">
					<h1 class="!font-black uppercase">Whoops!</h1>
					<div class="text-xl text-balance leading-relaxed">Our apologies, but we're having trouble finding that page.</div>
					<p></p>
				</article>
			</Container>
		</div>
	</div>
</Layout>
