---
import Layout from "@/layouts/Layout";

// imports
import Container from "@/components/Container";
import Section from "@/components/Section";
---

<Layout title="404 - Not Found">
	<div class="mt-20 section">
		<Container>
			<article class="flex flex-col items-center">
				<h1 class="!font-black">404</h1>
				<p class="text-2xl">Our apologies, but we're having trouble finding that page.</p>
				<p></p>
			</article>
		</Container>
	</div>
</Layout>
