---
// layouts
import Layout from "@/layouts/Layout";

// components
import Button from "@/components/buttons/Button";
import Contact from "@/components/Contact";
import Container from "@/components/Container";
---

<Layout contact={false} title="Let Us Build Your Dream Off-Road Vehicle">
    <div class="bg-gradient-to-tl from-stone-50 to-stone-100 py-16 md:py-24">
        <Container classes="space-y-8">
            <h1>Contact Us</h1>

            <div class="flex flex-col md:flex-row gap-20">
                <form class="flex flex-col gap-6 md:w-1/2 lg:w-full">
                    <div class="flex flex-col lg:flex-row gap-6">
                        <div class="w-full flex flex-col gap-6">
                            <div class="flex flex-col gap-1">
                                <label for="name" class="text-lg">Name</label>
                                <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    class="font-light text-sm w-full p-3 focus:ring-4 focus:ring-stone-200 rounded-sm border-stone-300"
                                    required
                                />
                            </div>

                            <div class="flex flex-col gap-1">
                                <label for="email" class="text-lg">E-mail</label>
                                <input
                                    type="email"
                                    name="email"
                                    id="email"
                                    class="font-light text-sm w-full p-3 focus:ring-4 focus:ring-stone-200 rounded-sm border-stone-300"
                                    required
                                />
                            </div>

                            <div class="flex flex-col gap-1">
                                <label for="phone" class="text-lg">Phone</label>
                                <input
                                    type="tel"
                                    name="phone"
                                    id="phone"
                                    class="font-light text-sm w-full p-3 focus:ring-4 focus:ring-stone-200 rounded-sm border-stone-300"
                                />
                            </div>

                            <div class="flex flex-col gap-1 h-full">
                                <label for="message" class="text-lg">Message</label>
                                <textarea
                                    name="message"
                                    id="message"
                                    class="font-light text-sm w-full p-3 focus:ring-4 focus:ring-stone-200 h-32 rounded-sm border-stone-300"
                                ></textarea>
                            </div>
                        </div>
                    </div>

                    <Button text="Get Started!" theme="btn-secondary" classes="max-w-fit" type="submit" />
                </form>

                <div class="space-y-6 max-w-md md:w-1/2">
                    <p class="text-2xl leading-9">Let's get started creating your purpose built off-road vehicle!</p>
                    <Contact classes="space-y-4 font-light ml-6" />
                    <p class="text-lg">
                        Give us a call or send us an email when you are ready to schedule your build or just looking for some help in developing a
                        plan and budget for the truck or off-road vehicle of your dreams. The shop is open Monday through Friday from 8am to 5pm.
                    </p>
                </div>
            </div>
        </Container>
    </div>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6896.848235522606!2d-98.0203109!3d30.196440400000014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d5bae8937d3b284!2sTHOR%20Off%20Road!5e0!3m2!1sen!2sus!4v1663191464594!5m2!1sen!2sus"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full h-[400px] md:h-[700px] border-0"
    >
    </iframe>
</Layout>
