---
import Layout from "@/layouts/Layout";

// imports
import Button from "@/components/Button";
import Container from "@/components/Container";
---

<Layout title="Sitemap">
    <div class="mt-20 section section-bottom">
        <Container padding={true}>
            <div
                class="box-spacing bg-white col-span-2 lg:col-span-1 space-y-8"
            >
                <article class="prose prose-sm max-w-none">
                    <h1>Login</h1>

                    <form
                        class="space-y-8"
                        action="/api/auth/login"
                        method="POST"
                    >
                        <div class="space-y-1 sm:space-y-2">
                            <label for="email">Email</label>
                            <input
                                type="email"
                                autocomplete="email"
                                name="email"
                                id="email"
                                required
                            />
                        </div>

                        <div class="space-y-1 sm:space-y-2">
                            <label for="password">Password</label>
                            <input
                                type="password"
                                name="password"
                                id="password"
                                required
                            />
                        </div>

                        <Button type="submit" style="button-primary">
                            Login
                        </Button>
                    </form>
                </article>
            </div>
        </Container>
    </div>
</Layout>
