---
export const prerender = false;

import { actions } from "astro:actions";
import Map from "@/components/backgrounds/Map";
import Layout from "@/layouts/Layout";

// imports
import Container from "@/components/Container";

const result = Astro.getActionResult(actions.login);
if (result && !result.error) {
	return Astro.redirect(`/dashboard`);
}
---

<Layout title="Login">
	<Map classes="bg-rock-900 section">
		<Container>
			<div class="max-w-3xl mx-auto">
				{result && result.error && <p>{`Error: ${result.error.message}`}</p>}

				<form class="space-y-8" method="POST" action={actions.login}>
					<div class="space-y-1 sm:space-y-2">
						<label for="email" class="text-black">Email</label>
						<input type="email" autocomplete="email" name="email" id="email" required />
					</div>

					<div class="space-y-1 sm:space-y-2">
						<label for="password" class="text-black">Password</label>
						<input type="password" name="password" id="password" required />
					</div>

					<button class="button-primary button button-inverse">Login</button>
				</form>
			</div>
		</Container>
	</Map>
</Layout>
