---
import { Business } from "@/config";

import Icon from "@/components/Icon";
---

<form id="form-contact" class="space-y-6" name="Contact Form" action="/contact/success" method="post" data-netlify="true" netlify-honeypot="state">
    <div class="space-y-2">
        <label for="name" class="block font-semibold leading-6">Name</label>
        <input type="text" name="name" id="name" autocomplete="name" required />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="space-y-2">
            <label for="email" class="block font-semibold leading-6">Email</label>
            <input type="email" name="email" id="email" autocomplete="email" required />
        </div>
        <div class="space-y-2">
            <label for="phone-number" class="block font-semibold leading-6">Phone number</label>
            <input type="tel" name="phone-number" id="phone-number" autocomplete="tel" />
        </div>
        <div class="hidden space-y-2">
            <label for="state" class="block font-semibold leading-6">State</label>
            <input type="text" name="state" id="state" />
        </div>
    </div>

    <div class="space-y-2">
        <label for="message" class="block font-semibold leading-6">Message</label>
        <textarea name="message" id="message" rows="4"></textarea>
    </div>

    <input type="hidden" name="form-pathname" value={Astro.url.pathname} />

    <div class="flex flex-col sm:flex-row gap-6 sm:gap-0 justify-between items-center">
        <button type="submit" class="button button-secondary">
            <div class="button-icon">
                <Icon icon="hero/EnvelopeFill" class="h-2/5 w-auto" />
            </div>

            <div class="button-text">Let's Go!</div>
        </button>

        <p class="text-white italic text-right">We're also available for a<br />chat at <a href={`tel:${Business.phone.number}`}>{Business.phone.formatted}</a></p>
    </div>
</form>
