---
interface Props {
    classes?: string;
    large?: boolean;
    padding?: boolean;
}
const { classes, large = false, padding = true } = Astro.props;
---

<div class:list={[`mx-auto`, large ? `max-w-screen-2xl` : `max-w-7xl`, padding && `px-6 md:px-8`, classes]}>
    <slot />
</div>
