---
interface Props {
	large?: boolean;
	classes?: string;
	padding?: boolean;
}
const { large = false, classes, padding = true } = Astro.props;
---

<div class:list={[`mx-auto md:px-8`, padding && `px-6`, large ? `max-w-[1650px]` : `max-w-screen-2xl`, classes]}>
	<slot />
</div>
