---
// components
import Container from "@/components/Container";
---

<div class="py-40 h-72 bg-red-500">
    <Container>
        <h2>Let's Create Your Dream Truck</h2>
        <p>
            If you are ready to get started on designing and building the perfect truck for you, so are we. Tell us a little about your truck build
            and give us your email and phone number and we will reach out to you quickly.
        </p>
    </Container>
</div>
