---
// components
import ContactForm from "./ContactForm.astro";
import Container from "./Container.astro";
import Picture from "./images/Picture.astro";
---

<Container classes="relative">
    <div class="grid md:grid-cols-5 gap-8 bg-gray-700 rounded p-8">
        <div class="flex flex-col mt-16 lg:mt-0 space-y-8 col-span-2 p-6">
            <h2 class="text-white">Let's start building your dream vehicle.</h2>

            <div class="text-stone-300 text-lg tracking-tight space-y-6">
                <p>If you are ready to get started on designing and building the perfect truck, so are we. Tell us a little about your truck build and contact information and we will reach out to you as soon as possible.</p>
            </div>

            <ContactForm />
        </div>

        <div class="grid grid-cols-2 col-span-3 gap-8 h-full">
            <div class="relative w-full h-full">
                <Picture src="shop/2022-12-05/shop-shoot_17.jpg" class="absolute object-cover object-[50%,0%] rounded w-full h-full" />
            </div>

            <div class="relative w-full h-full">
                <Picture src="shop/2022-12-05/shop-shoot_44.jpg" class="absolute object-cover rounded w-full h-full" />
            </div>
            <div class="col-span-2 relative w-full h-full">
                <Picture src="shop/2022-12-05/shop-shoot_16.jpg" class="absolute object-cover rounded col-span-2 w-full h-full" />
            </div>
        </div>
    </div>
</Container>
