---
// imports
import ContactForm from "@/components/ContactForm";
---

<div class="space-y-8 p-8 sm:p-0">
    <h1>Let's start building your dream vehicle.</h1>

    <div class="text-stone-600 text-xl tracking-tight leading-8 space-y-6">
        <p>If you are ready to get started on designing and building the perfect truck, so are we. Tell us a little about your truck build and contact information and we will reach out to you as soon as possible.</p>
    </div>

    <ContactForm />
</div>
