---
// components
import ContactForm from "./ContactForm.astro";
---

<div class="bg-white/90 max-w-3xl space-y-8 py-10 px-14 rounded-sm">
    <h1>Let's start building your dream vehicle.</h1>

    <div class="text-stone-700 text-lg tracking-tight space-y-6">
        <p>If you are ready to get started on designing and building the perfect truck, so are we. Tell us a little about your truck build and contact information and we will reach out to you as soon as possible.</p>
    </div>

    <ContactForm />
</div>
