---
// components
import Button from "./buttons/Button.astro";
import Container from "./Container.astro";
import Section from "./Section.astro";

// images
import truck from "../assets/images/header01.jpg";
import image from "../assets/images/header02.jpg";
---

<div class="relative">
    <img src={image.src} class="object-cover w-full h-full absolute" />
    <div class="w-full h-full bg-gradient-to-tr from-gray-900/90 via-gray-900/90 to-gray-500/90 absolute backdrop-blur-sm"></div>

    <Container classes="relative z-10">
        <Section classes="space-y-12">
            <div class="grid grid-cols-3 gap-16">
                <div class="space-y-12 bg-gradient-to-br from-gray-300/90 via-gray-300/90 to-gray-50/90 border border-gray-500 p-8 rounded-md">
                    <div class="space-y-4">
                        <p class="text-gray-600 tracking-tight text-xl">Ready?</p>
                        <h2 class="text-gray-800">Let's start building your dream vehicle.</h2>
                    </div>

                    <div class="space-y-6 text-gray-600 text-lg leading-8">
                        <p>If you are ready to get started on designing and building the perfect truck, so are we.</p>
                        <p>Tell us a little about your truck build and contact information and we will reach out to you as soon as possible.</p>
                    </div>

                    <div class="w-full">
                        <form class="space-y-6" action="#" method="post">
                            <div class="space-y-2">
                                <label for="name" class="block font-semibold leading-6 text-gray-800">Name</label>
                                <input type="text" name="name" id="name" autocomplete="name" class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-600 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-amber-400 sm:text-sm sm:leading-6" />
                            </div>
                            <div class="space-y-2">
                                <label for="email" class="block font-semibold leading-6 text-gray-800">Email</label>
                                <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-600 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-amber-400 sm:text-sm sm:leading-6" />
                            </div>
                            <div class="space-y-2">
                                <label for="phone-number" class="block font-semibold leading-6 text-gray-800">Phone number</label>
                                <input type="tel" name="phone-number" id="phone-number" autocomplete="tel" class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-600 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-amber-400 sm:text-sm sm:leading-6" />
                            </div>
                            <div class="space-y-2">
                                <label for="message" class="block font-semibold leading-6 text-gray-800">Message</label>
                                <textarea name="message" id="message" rows="4" class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-600 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-amber-400 sm:text-sm sm:leading-6"></textarea>
                            </div>

                            <div class="flex justify-end">
                                <Button theme="secondary" text="Let's Go!" />
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-span-2 flex flex-col">
                    <div class="relative flex justify-between mb-8">
                        <div class="ring-1 ring-inset ring-white/10 p-6 rounded-md bg-white/5 space-y-2">
                            <p class="text-white font-semibold">Location</p>
                            <p class="text-gray-200">3996 US-290 Building B, Dripping Springs, TX 78620</p>
                        </div>

                        <div class="p-6 rounded-md ring-1 ring-inset ring-white/10 bg-white/5 space-y-2">
                            <p class="text-white font-semibold">Phone</p>
                            <p class="text-gray-200">(512) 894-2790</p>
                        </div>

                        <div class="p-6 rounded-md ring-1 ring-inset ring-white/10 bg-white/5 space-y-2">
                            <p class="text-white font-semibold">E-mail</p>
                            <p class="text-gray-200">sales@thoroffroadtx.com</p>
                        </div>
                    </div>

                    <div class="relative w-full h-full">
                        <img src={truck.src} class="absolute object-cover w-full h-full object-[50%,80%] rounded-md shadow-xl" />
                    </div>
                </div>
            </div>
        </Section>
    </Container>
</div>
