---
// components
import Container from "@/components/Container";

// functions
import { getPublicPath } from "@/functions/Media";

// images
const logo = getPublicPath("/Images/Website/Logos/logo-white.svg");
---

<div class="bg-black py-16">
    <Container>
        <img src={logo} width="250" alt="THOR Off-Road" class="mb-12" />

        <div class="flex justify-between items-center">
            <div class="max-w-md text-white">
                Located in Dripping Springs, TX, THOR Off-Road are experts in designing and building off-road vehicles that deliver the exact performance and style that our customers dream about.
            </div>

            <div class="flex gap-8">
                <h4>Vehicles</h4>
                <h4>Parts</h4>
                <h4>Other</h4>
            </div>
        </div>
    </Container>
</div>
