---
// components
import Breadcrumbs from "@/components/navigation/Breadcrumbs";
import Container from "@/components/Container";
import Photo from "@/components/images/Photo";

// content
import { getEntryBySlug } from "astro:content";

// props
export interface Props {
    image: string;
    title: string;
}
const { image, title } = Astro.props as Props;

const header = await getEntryBySlug("images", image);
---

<div class="relative min-h-[300px] md:min-h-[600px]">
    <!-- header image -->
    <Photo src={image} class="absolute object-cover h-full w-full" loading="eager" />

    <!-- bg -->
    <div class="absolute inset-0 bg-gradient-to-t from-stone-800/90 via-transparent to-transparent"></div>

    <slot />
</div>

<div class="bg-stone-200">
    <Container>
        <div class="grid grid-cols-1 items-center justify-between gap-6 py-5 sm:grid-cols-2">
            <!-- breadcrumbs -->
            <div>
                <span class="text-2xl font-extrabold uppercase italic tracking-tighter text-stone-800">{title}</span>
                <div class="text-sm text-stone-700">
                    <Breadcrumbs path={Astro.url.pathname} />
                </div>
            </div>

            <!-- metadata -->
            <div class="hidden flex-col items-end sm:flex">
                <div class="text-right text-stone-700 line-clamp-1">{header && header.data.title}</div>
                <div class="text-right text-sm font-light text-stone-500 line-clamp-2 lg:max-w-md" title={header && header.data.description}>
                    {header && header.data.description}
                </div>
            </div>
        </div>
    </Container>
</div>
