---
// components
import { Icon } from "astro-icon";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";

// functions
import { getImage, getPublicPath } from "@/functions/Media";
---

<div class="relative py-16 md:py-24 bg-red-500 overflow-hidden">
    <Icon name="tracks/tire-tracks_05" class="absolute top-0 md:bottom-0 right-0 text-red-700/10 w-[300px] lg:w-[1000px]" />

    <Container classes="relative z-10">
        <div class="flex flex-col gap-10">
            <div class="space-y-4 max-w-2xl">
                <h2>Let's Create Your Dream Truck</h2>
                <p class="text-lg font-light text-stone-100">
                    If you are ready to get started on designing and building the perfect truck for you, so are we. Tell us a little about your truck
                    build and give us your email and phone number and we will reach out to you quickly.
                </p>
            </div>

            <form class="flex flex-col gap-6">
                <div class="flex flex-col lg:flex-row gap-6">
                    <div class="w-full flex flex-col gap-6">
                        <div class="flex flex-col gap-1">
                            <label for="name" class="text-white text-lg">Name</label>
                            <input
                                type="text"
                                name="name"
                                id="name"
                                class="font-light text-sm w-full p-3 outline-0 border-0 focus:ring-4 focus:ring-red-400 rounded-sm"
                                required
                            />
                        </div>

                        <div class="flex flex-col gap-1">
                            <label for="email" class="text-white text-lg">E-mail</label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                class="font-light text-sm w-full p-3 outline-0 border-0 focus:ring-4 focus:ring-red-400 rounded-sm"
                                required
                            />
                        </div>

                        <div class="flex flex-col gap-1">
                            <label for="phone" class="text-white text-lg">Phone</label>
                            <input
                                type="tel"
                                name="phone"
                                id="phone"
                                class="font-light text-sm w-full p-3 outline-0 border-0 focus:ring-4 focus:ring-red-400 rounded-sm"
                            />
                        </div>
                    </div>

                    <div class="flex flex-col gap-4 w-full">
                        <div class="flex flex-col gap-1 h-full">
                            <label for="message" class="text-white text-lg">Message</label>
                            <textarea
                                name="message"
                                id="message"
                                class="font-light text-sm w-full h-full p-3 outline-0 border-0 focus:ring-4 focus:ring-red-400 rounded-sm"></textarea>
                        </div>
                    </div>
                </div>

                <Button text="Get Started!" theme="btn-secondary" classes="w-full sm:w-fit" type="submit" />
            </form>
        </div>
    </Container>
</div>
