---
// imports
import Icon from "@/components/Icon";

interface Props {
	icon?: string;
	classes?: string;
}
const { icon, classes, ...attrs } = Astro.props;
---

<a class:list={["button", classes]} {...attrs}>
	{
		icon && (
			<div class="button-icon">
				<Icon icon={icon} class="h-2/5 w-auto" />
			</div>
		)
	}

	<div class="button-text">
		<slot />
	</div>
</a>
