---
import Icon from "@/components/Icon";

interface Props {
    page: object;
}
const { page } = Astro.props;
---

<div class="w-full sm:w-fit flex flex-row gap-4 justify-between items-center">
    {
        page.currentPage == 1 ? (
            <div class="w-full sm:w-fit flex items-center gap-2 text-sm text-stone-300">
                <Icon icon="hero/ChevronLeft" class="w-3 h-auto" />
                Previous
            </div>
        ) : (
            <a href={page.url.prev} class="w-full sm:w-fit flex items-center gap-2 text-sm">
                <Icon icon="hero/ChevronLeft" class="w-3 h-auto" />
                Previous
            </a>
        )
    }

    {
        page.currentPage == page.lastPage ? (
            <div class="w-full sm:w-fit flex items-center gap-2 text-sm text-stone-300">
                Next
                <Icon icon="hero/ChevronRight" class="w-3 h-auto" />
            </div>
        ) : (
            <a href={page.url.next} class="w-full sm:w-fit flex items-center gap-2 text-sm">
                Next
                <Icon icon="hero/ChevronRight" class="w-3 h-auto" />
            </a>
        )
    }
</div>
