---
// imports
import { Icon } from "astro-icon";

interface Props {
    page: object;
}
const { page } = Astro.props;
---

<div class="flex flex-row justify-between items-center border border-stone-300 divide-x divide-stone-300">
    <a href={page.url.prev} class:list={["flex items-center gap-2 text-sm p-4", page.currentPage == 1 && "text-stone-300"]}>
        <Icon name="hero/ChevronLeft" class="w-3 h-auto" />
        Previous
    </a>

    <a href={page.url.next} class:list={["flex items-center gap-2 text-sm p-4", page.currentPage == page.lastPage && "text-stone-300"]}>
        Next
        <Icon name="hero/ChevronRight" class="w-3 h-auto" />
    </a>
</div>
