---
import Icon from "@/components/Icon";

interface Props {
    page: object;
}
const { page } = Astro.props;
---

<div class="w-full sm:w-fit flex flex-row gap-4 justify-between items-center">
    {
        page.currentPage == 1 ? (
            <div class="button button-ghost button-inverse text-xs">
                <div class="button-text">Previous</div>
            </div>
        ) : (
            <a href={page.url.prev} class="button button-primary button-inverse text-xs">
                <div class="button-icon">
                    <Icon icon="hero/ChevronLeft" class="w-3 h-auto" />
                </div>
                <div class="button-text">Previous</div>
            </a>
        )
    }

    {
        page.currentPage == page.lastPage ? (
            <div class="button button-ghost button-inverse text-xs">
                <div class="button-text">Next</div>
            </div>
        ) : (
            <a href={page.url.next} class="button button-primary button-inverse text-xs">
                <div class="button-text">Next</div>
                <div class="button-icon">
                    <Icon icon="hero/ChevronRight" class="w-3 h-auto" />
                </div>
            </a>
        )
    }
</div>
