---
interface Props {
    small?: boolean;
    classes?: string;
}
const { small = false, classes } = Astro.props;
---

<div class:list={[small ? `py-16 sm:py-20` : `py-16 sm:py-24 lg:py-40`, classes]}>
    <slot />
</div>
