---
interface Props {
    small?: boolean;
    classes?: string;
}
const { small = false, classes } = Astro.props;
---

<div class:list={["space-y-16 sm:space-y-24 lg:space-y-44", small ? `py-8 sm:py-12 lg:py-20` : `py-16 sm:py-24 lg:py-44`, classes]}>
    <slot />
</div>
