---
interface Props {
    content: any;
}
const { content } = Astro.props;

// components
import { Icon } from "astro-icon";
---

<div class="bg-white p-8 rounded-lg">
    <div class="col-span-3 md:col-span-2 space-y-6">
        <div>
            <h6 class="text-stone-800 line-clamp-1 italic font-medium" set:html={`"${content.highlight}"`} />
        </div>

        <blockquote class="text-stone-800 leading-6 text-sm space-y-4" set:html={content.testimonial} />

        <div class="mt-6 flex justify-between">
            <div class="font-semibold text-stone-900">{content.name}</div>

            <div class="flex gap-1 justify-center">
                <Icon name="hero/StarFill" class="text-yellow-400 h-5" />
                <Icon name="hero/StarFill" class="text-yellow-400 h-5" />
                <Icon name="hero/StarFill" class="text-yellow-400 h-5" />
                <Icon name="hero/StarFill" class="text-yellow-400 h-5" />
                <Icon name="hero/StarFill" class="text-yellow-400 h-5" />
            </div>
        </div>
    </div>
</div>
