---
import Icon from "@/components/Icon";
import Picture from "@/components/images/Picture";

interface Props {
	content: any;
	lines?: string;
}
const { content, lines = "line-clamp-none" } = Astro.props;
---

<div class="flex flex-col bg-rock-800 text-white overflow-hidden rounded hover:scale-[107%] hover:rotate-2 hover:bg-rock-800/80 hover:z-10 transition duration-300">
	<div class="p-8 lg:p-10 space-y-6">
		<div class="space-y-2">
			<div class="flex justify-center">
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
			</div>
			<div class="text-center font-alt uppercase text-xl line-clamp-1 font-bold" set:html={`"${content.data.highlight}"`} />
		</div>

		<blockquote class:list={["text-light space-y-4 leading-relaxed sm:text-sm md:text-base text-stone-200", lines]} set:html={content.data.content} />

		<div class="flex gap-3 items-center">
			<!-- <Picture src="https://cdn.cosmicjs.com/78928520-8ccc-11ef-b5a0-93db72e2be98-996096-2024-ford-f-250_08.jpg" class="w-12 h-12 object-cover rounded shadow-lg" sizes="100px" /> -->

			<div class="py-1">
				<div class="font-bold line-clamp-1">{content.data.title}</div>
				<!-- <a class="font-light text-sm underline line-clamp-1">2024 Toyota Tundra</a> -->
			</div>
		</div>
	</div>
</div>
