---
import Icon from "@/components/Icon";

interface Props {
	content: any;
	lines?: string;
}
const { content, lines = "line-clamp-none" } = Astro.props;
---

<div class="flex flex-col bg-stone-600/70 text-white overflow-hidden rounded hover:scale-[115%] hover:rotate-2 hover:bg-stone-800 hover:z-10 transition duration-300">
	<div class="p-12 space-y-6">
		<div class="text-center font-alt uppercase text-xl line-clamp-1 font-bold" set:html={`"${content.data.highlight}"`} />

		<blockquote class:list={["text-light space-y-4 leading-relaxed text-base text-stone-200", lines]} set:html={content.data.testimonial} />

		<div class="flex justify-between items-start">
			<div class="space-y-1">
				<div class="font-bold">{content.data.name}</div>
				<a class="font-light text-sm underline">2024 Toyota Tundra</a>
			</div>

			<div class="flex justify-center">
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
				<Icon icon="hero/StarFill" class="text-yellow-400 h-4" />
			</div>
		</div>
	</div>
</div>
