<div class="grid grid-cols-2">
    <div class="relative">
        <slot name="background" />
    </div>

    <div class="space-y-16 px-16 py-24 self-center max-w-3xl">
        <slot />
    </div>
</div>

<style>
    div :global(img) {
        @apply absolute inset-0 w-full h-full object-cover;
    }
</style>
