---
// imports
import Container from "@/components/Container";
---

<div class="relative">
    <slot name="background" />

    <div class="relative pt-16 lg:pt-80">
        <Container>
            <div class="bg-white md:max-w-3xl space-y-8 lg:p-14 rounded-t">
                <slot name="heading" />

                <slot name="description" />

                <slot />
            </div>
        </Container>
    </div>
</div>

<style>
    div :global(img) {
        @apply lg:absolute w-full h-full object-cover;
    }
</style>
