---
// components
import Container from "../../Container.astro";

// props
interface Props {
    subheading?: string;
    heading: string;
    description?: string;
}
const { subheading, heading, description } = Astro.props;
---

<div>
    <Container>
        <div class="max-w-2xl">
            {subheading && <div class="leading-7 text-neutral-300 mb-2 font-semibold">{subheading}</div>}

            <h1 set:html={heading} />

            {description && <div class="mt-6 space-y-4 text-lg md:text-xl text-neutral-400" set:html={description} />}
        </div>

        <slot />
    </Container>
</div>
