---
// components
import Container from "@/components/Container";
---

<Container classes="relative">
    <div class="bg-white max-w-3xl space-y-8 py-10 px-14 rounded-sm relative">
        <slot name="heading" />

        <div class="space-y-4 text-xl leading-8">
            <slot name="description" />
        </div>

        <slot />
    </div>
</Container>
