---
// components
import Container from "@/components/Container";
---

<div class="relative headingBg">
    <slot name="background" />

    <div class="h-[25em] flex items-end">
        <Container classes="relative">
            <div class="place-self-end w-fit bg-white space-y-8 sm:py-12 sm:px-14 rounded-t-lg relative">
                <slot name="heading" />

                <slot />
            </div>
        </Container>
    </div>
</div>

<style>
    div :global(img) {
        @apply sm:absolute object-cover w-full sm:h-full;
    }
</style>
