<div class="grid grid-cols-2 bg-white">
    <slot name="background" />

    <div class="space-y-16 px-16 py-24 self-center max-w-3xl">
        <slot />
    </div>
</div>

<style>
    div :global(img) {
        @apply w-full h-full object-cover aspect-square;
    }
</style>
