---
// components
import Container from "@/components/Container";
import Section from "@/components/Section";
---

<div class="relative headingBg">
    <slot name="background" />

    <Section classes="relative">
        <Container>
            <div class="bg-white max-w-3xl space-y-8 sm:p-14 rounded-lg">
                <slot name="heading" />

                <div class="space-y-4 text-xl leading-8">
                    <slot name="description" />
                </div>

                <slot />
            </div>
        </Container>
    </Section>
</div>

<style>
    div :global(img) {
        @apply sm:absolute object-cover w-full h-[25vh] sm:h-full;
    }
</style>
