---
// imports
import Container from "@/components/Container";
---

<div class="relative">
    <slot name="background" />

    <div class="section relative">
        <Container>
            <div class="bg-white max-w-3xl space-y-8 sm:p-14 rounded">
                <slot name="heading" />

                <div class="space-y-4 text-xl leading-8">
                    <slot name="description" />
                </div>

                <slot />
            </div>
        </Container>
    </div>
</div>

<style>
    div :global(img) {
        @apply lg:absolute w-full h-full object-cover;
    }
</style>
