---
// components
import Container from "../../Container.astro";

// props
interface Props {
    subheading?: string;
    heading: string;
    description?: string;
}
const { subheading, heading, description } = Astro.props;
---

<div>
    <Container>
        <div class="max-w-2xl space-y-4">
            {subheading && <div class="leading-7 text-neutral-300 font-semibold bg-neutral-500/20 inline p-2 rounded-md">{subheading}</div>}

            <h1 set:html={heading} />

            {description && <div class="space-y-4 text-lg md:text-xl text-neutral-400 !leading-8" set:html={description} />}
        </div>

        <slot />
    </Container>
</div>
