---
// components
import Container from "../../Container.astro";

// props
interface Props {
    subheading?: string;
    heading: string;
    description?: string;
}
const { subheading, heading, description } = Astro.props;
---

<div>
    <Container>
        <div class="max-w-2xl">
            {subheading && <div class="text-sm leading-7 text-gray-400 mb-2 uppercase">{subheading}</div>}

            <h1 set:html={heading} />

            {description && <div class="mt-6 md:text-lg leading-8 text-gray-300">{description}</div>}
        </div>

        <slot />
    </Container>
</div>
