---
// components
import Container from "../../Container.astro";
import Section from "../../Section.astro";
---

<div class="relative">
    <slot name="image" />

    <Section>
        <slot />
    </Section>
</div>
