---
// components
import Picture from "@/components/images/Picture";
import Section from "@/components/Section";

// props
interface Props {
    src: string;
}
const { src } = Astro.props;
---

<div class="relative">
    <Picture src={src} class="sm:absolute object-cover w-full h-[25vh] sm:h-full" />

    <Section>
        <slot />
    </Section>
</div>
