---
interface Props {
    number: number;
    heading: string;
    content: string;
}
const { number, heading, content } = Astro.props;
---

<div class="space-y-4">
    <div class="flex gap-3 items-center">
        <span class="self-start px-3 py-1 rounded-md bg-neutral-700/50 text-neutral-200 ring-1 ring-neutral-600 text-lg lg:text-xl font-semibold">{number}</span>
        <h5>{heading}</h5>
    </div>

    <div class="md:text-lg leading-7 text-neutral-400">
        <p>{content}</p>
    </div>
</div>
