---
interface Props {
    number: number;
    heading: string;
    content: string;
}
const { number, heading, content } = Astro.props;
---

<div class="space-y-4">
    <div class="flex gap-3 items-center">
        <span class="self-start px-3 py-1 rounded-md bg-neutral-50 text-neutral-700 text-lg lg:text-xl font-bold">{number}</span>
        <h5 class="text-neutral-900">{heading}</h5>
    </div>

    <div class="md:text-lg leading-7 text-neutral-600">
        <p>{content}</p>
    </div>
</div>
