---
import Layout from "../../layouts/Layout.astro";

// components
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allParts = await getCollection("parts");
    return allParts.map((part) => ({
        params: { part: part.slug },
        props: { part },
    }));
}
const { part } = Astro.props;

// config
import { Business } from "../../config";
---

<Layout>
    <div class="relative">
        <Picture src={part.data.featured} class="absolute inset-0 w-full h-full object-cover saturate-50" alt={`${part.data.title} truck parts for your vehicle`} />
        <div class="absolute inset-0 w-full h-full bg-gradient-to-r from-black via-black/80 to-black/50"></div>

        <Section>
            <div class="relative">
                <HeadingBase heading={part.data.title} description={part.data.descriptionLong} />
            </div>
        </Section>
    </div>
</Layout>
