---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Hero from "@/components/Hero";
import Link from "@/components/buttons/Link";

export async function getStaticPaths() {
    const vehicles = await Astro.glob("../../data/parts/*.json");

    return vehicles.map((p) => ({
        params: { part: p.slug },
        props: p,
    }));
}

const { part } = Astro.params;
const { title, heading, subheading, featured, brands, logo } = Astro.props;
---

<Layout>
    <Hero image={featured} title={title} />

    <!-- summary -->
    <div class="bg-white py-40">
        <Container>
            <div class="space-y-20">
                <div class="space-y-52">
                    <div class="max-w-3xl space-y-8">
                        <h1 class="text-stone-800">Off-Road Parts</h1>
                        <p class="text-stone-600 text-xl leading-9"></p>
                    </div>
                </div>
                <div class="space-y-8">
                    <div class="flex gap-6 items-center overflow-hidden relative">
                        <div class="absolute inset-0 bg-gradient-to-r from-transparent via-transparent to-white"></div>
                        {
                            brands
                                .map((b) => <img src={`/src/assets/images/parts/brands/brands_${b.logo}.png`} alt={b.title} class="h-16 w-auto" />)
                                .splice(0, 5)
                        }
                    </div>
                    <Link text="See All Our Bed & Roof Brands" href="#a" classes="text-base" />
                </div>
            </div>
        </Container>
    </div>
</Layout>
