---
import { getBuildTitle } from "@/functions/Content";
import { getBuildImage } from "@/functions/Image";
import Picture from "@/components/images/Picture";

interface Props {
    build: any;
}
const { build, ...attrs } = Astro.props;
---

<div class="grid grid-cols-6 relative gap-4">
    <div class="col-span-2 relative">
        <Picture src={getBuildImage(build.id, build.data.images.snippet)} alt={getBuildTitle(build.id)} class="absolute w-full h-full object-cover" sizes="300px" />
    </div>

    <div class="col-span-4 flex flex-col gap-2 py-2">
        <div class="font-semibold">{getBuildTitle(build.id)}</div>
        <ul class="text-xs line-clamp-2 comma-list">
            {build.data.meta.parts.map((p) => <li>{p}</li>)}
        </ul>

        <a href={`/builds/${build.id}`} class="text-xs font-medium">
            <span class="absolute inset-0"></span>
            See Build &#x2192;
        </a>
    </div>
</div>
