---
interface Props {
    model: any;
}
const { model, ...attrs } = Astro.props;
---

<div class="flex flex-col gap-2 relative">
    <div class="font-semibold">{model.data.title}</div>
    <div class="text-xs line-clamp-4">{model.data.description.short}</div>

    <a href={`/builds/${model.data.make.id}/${model.id}`} class="text-xs font-medium">
        <span class="absolute inset-0"></span>
        See Builds &#x2192;
    </a>
</div>
