---
interface Props {
    part: any;
}
const { part, ...attrs } = Astro.props;
---

<div class="flex gap-4">
    <div class="flex flex-col gap-2 relative">
        <div class="font-semibold">{part.data.title}</div>
        <div class="text-xs line-clamp-4">{part.data.description.short}</div>

        <a href={`/parts/${part.id}`} class="text-xs font-medium">
            <span class="absolute inset-0"></span>
             Read More &#x2192;
        </a>
    </div>
</div>
