---
import { getBuildImage } from "@/functions/Image";
import Icon from "@/components/Icon";
import Picture from "@/components/images/Picture";

interface Props {
	part: any;
	url: string;
}
const { part, url, ...attrs } = Astro.props;
---

<div class="relative group">
	<Picture src={getBuildImage(part.data.images.featured.id.id, part.data.images.featured.image)} class="h-48 w-full object-cover rounded-t" sizes="350px" />

	<div class="py-6 flex flex-row gap-3 items-center justify-center bg-rock-800">
		<div class="w-8 h-8 border-2 border-white rounded relative flex-none overflow-hidden flex justify-center items-center">
			<Icon icon={url ? part.data.images.icon : `parts/${part.data.images.icon}Outline`} class="text-white absolute w-10 h-auto -rotate-12" />
		</div>

		<div class="flex flex-col gap-2">
			<div class="font-semibold uppercase font-alt text-3xl">{part.data.title}</div>
		</div>
	</div>

	<a href={url ? url : `/parts/${part.id}`} class="font-alt text-lg font-medium uppercase p-3 bg-rock-700 group-hover:bg-rock-600 transition duration-200 flex justify-center">
		<span class="absolute inset-0"></span>
		{
			url ? (
				<div>Contact Us &#x2192;</div>
			) : (
				<div>
					Read More <span class="group-hover:translate-x-2 transition duration-200 inline-block">&#x2192;</span>
				</div>
			)
		}
	</a>
</div>
