---
import Icon from "@/components/Icon";

interface Props {
	part: any;
}
const { part, ...attrs } = Astro.props;
---

<div class="flex flex-col gap-3 p-8 rounded bg-rock-700 hover:bg-rock-700/80 backdrop-blur-sm transition duration-200">
	<div class="flex gap-1 items-center">
		<Icon icon="hero/CheckCircle" class="size-5 text-white" />
		<div class="font-semibold text-lg line-clamp-1 text-white">{part.title}</div>
	</div>

	<div class="text-sm line-clamp-4 text-rock-100">{part.content}</div>
</div>
