---
import Icon from "@/components/Icon";

interface Props {
	part: any;
}
const { part, ...attrs } = Astro.props;
---

<div class="flex flex-col gap-3 p-8 rounded bg-white/10 hover:bg-white/15 backdrop-blur-sm transition duration-200">
	<div class="flex gap-1 items-center">
		<Icon icon="hero/CheckCircle" class="text-white w-5 h-5" />
		<div class="font-semibold text-lg">{part.title}</div>
	</div>

	<div class="text-sm line-clamp-4">{part.description}</div>
</div>
