---
import Icon from "@/components/Icon";

interface Props {
	part: any;
}
const { part, ...attrs } = Astro.props;
---

<div class="flex flex-col gap-3 p-8 rounded bg-rock-200/50 hover:bg-rock-200/80 backdrop-blur-sm transition duration-200">
	<div class="flex gap-1 items-center">
		<Icon icon="hero/CheckCircle" class="size-5" />
		<div class="font-semibold text-lg line-clamp-1">{part.title}</div>
	</div>

	<div class="text-sm line-clamp-4">{part.content}</div>
</div>
