---
import Layout from "../../layouts/Layout.astro";

// components
import Background from "../../components/content/Background.astro";
import Break from "../../components/Break.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// images
import { getBuildImage, getMedia } from "../../functions/Image";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allVehicleMakes = await getCollection("models");
    return allVehicleMakes.map((entry) => ({
        params: { model: entry.slug },
        props: { entry },
    }));
}
const { entry } = Astro.props;
---

<Layout>
    <Background>
        <Section>
            <HeadingBase heading={`${entry.data.title} Builds`} subheading="Our recent work" description="Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua." />
        </Section>
    </Background>
</Layout>
