---
import "../assets/css/_base.scss";

// components
import ContactBar from "@/components/navigation/ContactBar";
import Navigation from "@/components/navigation/Navigation";
import Lead from "@/components/Lead";
import Footer from "@/components/Footer";

// config
import { business } from "@/src/config.mjs";

export interface Props {
    title?: string;
    description?: string;
    contact?: boolean;
}
const {
    title = "THOR Off-Road: Texas Premiere Off-Road Parts & Installation",
    description = "THOR Off-Road is the top truck and off-road vehicle parts and installation outfitter in Texas - the Texas Carli Suspension HQ.",
    contact = true,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <title>{title} | {business.name_long}</title>

        <script is:inline src="https://cdn.jsdelivr.net/npm/bigger-picture@1.1.6/dist/bigger-picture.min.js"></script>
    </head>

    <body>
        <ContactBar />
        <Navigation />

        <slot />

        {contact ? <Lead /> : ""}
        <Footer />
    </body>
</html>
