---
// styles
import "bigger-picture/css";
import "@/src/assets/css/_base.css";

// imports
import { Business } from "@/config";

import Banner from "@/components/navigation/Banner";
import Footer from "@/components/Footer";
import Menu from "@/components/navigation/Menu";

export interface Props {
    title?: string;
    description?: string;
}
const { title = "THOR Off-Road: Texas Premiere Off-Road Parts & Installation", description = "THOR Off-Road is the top truck and off-road vehicle parts and installation outfitter in Texas - the Texas Carli Suspension HQ." } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <title>{title} | {Business.nameLong}</title>

        <link rel="sitemap" href="/sitemap-index.xml" />

        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-NC37Z73G");
        </script>
    </head>

    <body style="background: url('/images/asphalt.png') repeat;">
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NC37Z73G" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

        <Banner />
        <Menu />

        <slot />

        <Footer />
    </body>
</html>

<script>
    import BiggerPicture from "bigger-picture";

    let bp = BiggerPicture({
        target: document.body,
    });

    // open (will be a child of the target element above)
    let imageLinks = document.querySelectorAll(`.gallery img`);
    let videoLinks = document.querySelectorAll(`.video`);

    // add click listener to open BiggerPicture
    for (let link of imageLinks) {
        link.addEventListener("click", openGallery);
    }
    for (let video of videoLinks) {
        video.addEventListener("click", openVideo);
    }

    // function to open BiggerPicture
    function openGallery(e) {
        e.preventDefault();
        bp.open({
            items: imageLinks,
            el: e.currentTarget,
            scale: 0.8,
        });
    }
    function openVideo(e) {
        e.preventDefault();
        bp.open({
            items: e.currentTarget,
            el: e.currentTarget,
        });
    }
</script>
