---
// styles
import "../assets/css/_base.scss";

// components
import Banner from "../components/navigation/Banner.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/navigation/Menu.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Over+the+Rainbow&display=swap" rel="stylesheet" />

        <script is:inline src="https://cdn.jsdelivr.net/npm/bigger-picture@1.1.6/dist/bigger-picture.min.js"></script>
    </head>

    <body>
        <Banner />

        <div class="sticky top-0 z-20">
            <Menu />
        </div>

        <slot />

        <Footer />
    </body>
</html>
