---
import "../assets/css/_base.scss";

// components
import ContactBar from "@/components/navigation/ContactBar";
import Navigation from "@/components/navigation/Navigation";
import Contact from "@/components/Contact";
import Footer from "@/components/Footer";

export interface Props {
    title: string;
    contact?: boolean;
}
const { title, contact = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <title>{title}</title>
    </head>

    <body>
        <ContactBar />
        <Navigation />

        <slot />

        {contact ? <Contact /> : ""}
        <Footer />
    </body>
</html>
