---
// styles
import "../assets/css/_base.scss";

// imports
import { Business } from "@/config";

import Banner from "@/components/navigation/Banner";
import Footer from "@/components/Footer";
import Menu from "@/components/navigation/Menu";

export interface Props {
    title?: string;
    description?: string;
}
const { title = "THOR Off-Road: Texas Premiere Off-Road Parts & Installation", description = "THOR Off-Road is the top truck and off-road vehicle parts and installation outfitter in Texas - the Texas Carli Suspension HQ." } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <title>{title} | {Business.name_long}</title>

        <link rel="sitemap" href="/sitemap-index.xml" />

        <script src="https://cdn.jsdelivr.net/npm/bigger-picture@1.1.6/dist/bigger-picture.min.js"></script>
    </head>

    <body>
        <Banner />

        <div class="sticky top-0 z-20">
            <Menu />
        </div>

        <slot />

        <Footer />
    </body>
</html>

<script>
    import BiggerPicture from "bigger-picture";

    let bp = BiggerPicture({
        target: document.body,
    });

    // open (will be a child of the target element above)
    let imageLinks = document.querySelectorAll(`.gallery img`);
    // add click listener to open BiggerPicture
    for (let link of imageLinks) {
        link.addEventListener("click", openGallery);
    }
    // function to open BiggerPicture
    function openGallery(e) {
        e.preventDefault();
        bp.open({
            items: imageLinks,
            el: e.currentTarget,
            scale: 0.8,
        });
    }
</script>
