---
// components
import { Icon } from "astro-icon";

// content
import { getCollection } from "astro:content";
const allParts = await getCollection("parts");
const allBrands = await getCollection("brands");
---

<div class="relative" x-data={`{ partsMenu : false }`} x-on:mouseenter={`partsMenu = true`} x-on:mouseover.away={`partsMenu = false`} x-on:click={`partsMenu = true`} x-cloak>
    <a href="/parts" class="nav-item">
        <span>Parts</span>

        <Icon name="hero/ChevronDown" class="w-4 h-4 transition" x-bind:class={`partsMenu ? 'rotate-180' : ''`} />
    </a>

    <div
        x-cloak
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0"
        x-show="partsMenu"
        class="md:w-[30em] lg:w-[40em] absolute bottom-auto z-10 pt-4">
        <div class="grid grid-cols-2 bg-gradient-to-r from-stone-100 via-stone-200 to-stone-300 shadow-lg rounded-sm">
            {
                allParts.map((p) => (
                    <a href={`/parts/${p.slug}`} title={p.data.title} class="flex flex-col gap-x-4 text-base font-semibold leading-6 text-stone-900 hover:bg-white px-6 py-4 transition">
                        {p.data.title}

                        <ul class="comma-list line-clamp-1 text-sm text-stone-500 font-normal">
                            {allBrands.map((b) => {
                                if (b.data.parts.includes(p.slug)) {
                                    return <li>{b.data.title}</li>;
                                }
                            })}
                        </ul>
                    </a>
                ))
            }
        </div>
    </div>
</div>
