---
// content
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";

// get vehicle data
const allVehicles = await getCollection("vehicles");
const allModels = await getCollection("models");
---

<div class="relative" x-data={`{ vehiclesMega : false }`} x-on:mouseenter={`vehiclesMega = true`} x-on:mouseover.away={`vehiclesMega = false`} x-on:click={`vehiclesMega = true`} x-cloak>
    <a href="/vehicles" class="inline-flex items-center gap-x-2 first:font-semibold leading-6 text-white transition px-4 py-3" x-bind:class={`vehiclesMega ? 'bg-red-500' : ''`}>
        <span>Vehicles</span>

        <Icon name="Chevron" class="w-4 h-4 transition" x-bind:class={`vehiclesMega ? 'rotate-180' : ''`} />
    </a>

    <div
        x-cloak
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0"
        x-show="vehiclesMega"
        class="w-[40em] absolute top-0 mt-12 z-10 bg-gradient-to-r from-neutral-100 via-neutral-200 to-neutral-300 shadow-lg ring-1 ring-neutral-900/5">
        <div class="grid grid-cols-2">
            {
                allVehicles.map((v) => (
                    <a href={`/vehicles/${v.slug}`} title={v.data.title} class="flex flex-col gap-x-4 font-semibold leading-6 text-neutral-900 hover:bg-white px-6 py-4 transition">
                        {v.data.title}

                        <ul class="comma-list line-clamp-1 text-sm text-neutral-500 font-normal">
                            {allModels.map((m) => {
                                if (m.slug.includes(v.slug)) {
                                    return <li>{m.data.title}</li>;
                                }
                            })}
                        </ul>
                    </a>
                ))
            }
        </div>
    </div>
</div>
