---
// layouts
import Layout from "@/layouts/Layout";

// components
import { Icon } from "astro-icon";
import Container from "@/components/Container";
import Link from "@/components/buttons/Link";
import Photo from "@/components/images/Photo";

// config
import { imageConfig } from "@/src/config";

// functions
import { getAllImages } from "@/functions/Media";

let images = await getAllImages(); // get a listing of all unique objects (folders)
---

<Layout>
    <Container classes="my-24 space-y-8">
        <div class="flex justify-between items-center">
            <h1 class="text-black">Image Assets</h1>
            <Link href="https://cloud.digitalocean.com/spaces/thoroffroad?i=a6c259&path=images%2F" text="Manage Images" />
        </div>

        <div class="grid grid-cols-8 gap-5">
            {
                images.map((i) => (
                    <div class="flex flex-col">
                        <Photo src={i} widths={[500]} sizes="400px" class="h-32 w-full object-cover shadow-xl" />

                        <div class="mt-2 flex justify-between">
                            <a href={`${imageConfig.cloudUrl}/images/${i}`} target="_blank">
                                <Icon name="bi:zoom-in" class="w-3 text-stone-500" />
                            </a>

                            <a class="cursor-pointer" onclick={`copyToClipboard('${i}')`}>
                                <Icon name="bi:clipboard" class="w-3 text-stone-500" />
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </Container>
</Layout>

<script define:vars={{ imageConfig }}>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text);
    }
</script>
